<my-tabs>
  <my-tab
    [icon]="'pi pi-list'"
    [tabTitle]="'Danh sách sản phẩm'"
  >
      <app-list-product
        (addProduct)="onAddProduct()"
        (updateProduct)="onUpdateProduct($event)">
      </app-list-product>
  </my-tab>
</my-tabs>

<ng-template  #addProduct>
  <app-add-product></app-add-product>
</ng-template>

<ng-template let-product="product" #updateProduct>
  <app-update-product [product]="dataUpdate"></app-update-product>
</ng-template>
