<div class="container" style="margin-bottom: 90px">
  <div class="content mt-3 mb-5">
    <p-panel header="Thông tin tài khoản">
      <div [formGroup]="profileForm" class="row d-flex">
        <div class="info col-sm-8">
          <div class="mb-3 row">
            <label for="phoneNumber" class="col-sm-2 col-form-label">Số điện thoại</label>
            <div class="col-sm-6">
              <input type="text" readonly formControlName="phoneNumber" class="form-control-plaintext" id="phoneNumber"
                     [value]="user.phoneNumber">
            </div>
            <div class="col-sm-4 text-end">
              <p-button routerLink="change-password" severity="help">
                <i class="pi pi-arrow-right-arrow-left"></i>
                Thay đổi mật khẩu
              </p-button>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="gmail" class="col-sm-2 col-form-label">Địa chỉ gmail</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="gmail" [value]="user.email">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="fullName" class="col-sm-2 col-form-label">Họ tên <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" formControlName="fullName" class="form-control" id="fullName" [value]="user.fullName">
              <app-control-message
                [label]="'Họ tên'"
                [control]="profileForm.controls['fullName']"
              ></app-control-message>
            </div>

          </div>

          <div class="mb-3 row">
            <label for="address" class="col-sm-2 col-form-label">Địa chỉ <span class="text-danger">*</span></label>
            <div class=" col-sm-6 ">
              <input type="text" formControlName="address" class="form-control" id="address" [value]="user.address">
              <app-control-message
                [label]="'Địa chỉ'"
                [control]="profileForm.controls['address']"
              ></app-control-message>
            </div>
            <div class="col-sm-4 text-end">
              <p-button [text]="true" severity="secondary">
                <i class="pi pi-plus" id="basic-addon2"> </i>
                Thêm địa chỉ
              </p-button>
            </div>

          </div>

          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Ngày sinh </label>
            <div class="col-sm-10">
              <p-calendar formControlName="dateOfBirth" dateFormat="dd/mm/yy" [showIcon]="true"
                          styleClass="width"></p-calendar>
            </div>
          </div>

          <div class="mb-3  row">
            <label class="col-sm-2 col-form-label">Giới tính</label>
            <div class="col-sm-10">
              <select class="form-select" formControlName="sex">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
              </select>
            </div>
          </div>
          <p-divider></p-divider>
          <p-button (click)="updateData()">
            <i class="pi pi-save"></i>
            Lưu
          </p-button>
        </div>
        <div class="avt col-sm-4" style="display: flex; align-items: center; justify-content: center; height: 100%;">
          <div class="flex flex-column justify-content-between" style="text-align: center;">
            <ng-container *ngIf="user.avt; else noAvt">
              <img class="picture-avt" [src]="user.avt">

            </ng-container>
            <ng-template #noAvt>
              <img class="picture-avt" src="assets/user.jpg">
            </ng-template>
            <div class="span my-2">
              Chọn ảnh có kích thước nhỏ hơn 5MB, PNG, JPEG
            </div>
            <a class="fileUpload btn btn-sm btn-light">
              <i class="fa fa-upload"></i>
              <span>Tải ảnh lên</span>
              <input (change)="onFileSelected($event)" accept="image/png,image/jpeg" class="upload"
                     type="file"/>
            </a>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
</div>
<p-toast position="top-center"></p-toast>

