

<my-tabs>
  <my-tab
    [icon]="'pi pi-list'"
    [tabTitle]="'Danh mục cha'"
  >
    <app-list-category-parent
      (detailCate)="onDetailCate($event)"
    >
    </app-list-category-parent>
  </my-tab>
</my-tabs>

<ng-template #detailCate>
  <app-list-category-children
    [category]="dataCategory"
  >
  </app-list-category-children>
</ng-template>
