<div class="background_login" style="background-image: url('/assets/anh-nen2.jpg')">
  <div class="form-login-modal bg-white">
    <div class="row mb-5">
      <!--      <h1 class="mb-4 text-center">Đăng nhập</h1>-->
      <div class="col-md-5 text-center col-12">
        <img class="" src="./assets/logo.png" alt="logo">
        <h5>Chào mừng bạn đến với đăng nhập</h5>
      </div>
      <div class="col-md-7 col-12">
        <form class="form-sign-in" (ngSubmit)="login()" [formGroup]="signInForm">
          <div class=" mb-3">
            <input type="text" class="form-control " formControlName="phoneNumber" placeholder="Số điện thoại">
            <app-control-message
              [label]="'Số điện thoại'"
              [control]="signInForm.controls['phoneNumber']"
            ></app-control-message>
          </div>
          <div class=" mb-3">
            <div class="input-group">
              <input [type]="hidePassword ? 'password' : 'text'" class="form-control " formControlName="password"
                     placeholder="Mật khẩu">
              <span (click)="togglePassword()" class="input-group-text">
                <i [ngClass]="hidePassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
              </span>
            </div>
            <app-control-message
              [label]="'Mật khẩu'"
              [control]="signInForm.controls['password']"
            ></app-control-message>
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-link me-md-2" routerLink="/register" type="button">Đăng ký</button>
            <button class="btn btn-primary" type="submit">Đăng nhập</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
<p-toast position="top-center" key="tc"></p-toast>



