<my-tabs>
  <my-tab
    [icon]="'pi pi-list'"
    [tabTitle]="'Danh sách đơn hàng'"
  >
    <app-list-order
      (updateOrder)="onUpdateOrder($event)">
    </app-list-order>
  </my-tab>
</my-tabs>

<ng-template #updateOrder>
  <app-update-order [order]="dataUpdate"></app-update-order>
</ng-template>
