

<ng-container *ngIf="orders?.length > 0; else noOrders">
  <div class="d-flex mb-3 justify-content-end flex-row align-items-center">
    <p-dropdown class="mr" optionLabel="name" optionValue="value"
                [options]="listStatus"
                [(ngModel)]="selectedStatus"
                [showClear]="true"
                placeholder="--Tìm kiếm tình trạng đơn hàng--"></p-dropdown>
    <button (click)="searchByStatus()" class="mr btn btn-outline-primary" >
      <i class="fa fa-filter"></i>
      Lọc
    </button>
    <button (click)="clearSearch()" class="btn mr btn-outline-warning" >
      <i class="fa fa-xmark"></i>
      Bỏ lọc
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên sản phẩm</th>
        <th>Người đặt</th>
        <th scope="col">Tổng tiền</th>
        <th class="text-center ">Trạng thái</th>
<!--        <th class="text-end" scope="col">Ngày đặt</th>-->
        <th scope="col">Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders; let i = index">
        <th scope="row" class="text-center">{{(pageInfo.currentPage -1) * pageInfo.recordPerPage + i + 1}}</th>
        <td>
          <div *ngFor="let detail of order.orderDetails" class="d-flex align-items-center mb-2">
            <img [src]="detail.image" alt="{{ detail.name }}" style="width: 70px; height: 70px; margin-right: 10px;" />
            <div>
              <p class="mb-0">{{ detail.name }}</p>
              <p style="color: darkred" class="mb-0">x{{ detail.quantity }}</p>
            </div>
          </div>
        </td>
        <td>{{ order.fullName }}</td>
        <td class="fw-bold">{{ order.totalMoney | number }}</td>
<!--        <td class=" text-center">-->
<!--          <div class="badge" [ngClass]="{-->
<!--              ' badge-instock': order.status === 'done',-->
<!--              ' badge-new': order.status === 'prepare',-->
<!--              ' badge-lowstock': order.status === 'delivery',-->
<!--              ' badge-outstock': order.status === 'pending'-->
<!--            }">-->
<!--            {{ getStatusName(order.status) }}-->
<!--          </div>-->
<!--        </td>-->
        <td class="text-center">
          <div class="badge " [ngClass]="{
                ' badge-instock': order.status === 'done',
                ' badge-new': order.status === 'prepare',
                ' badge-lowstock': order.status === 'delivery',
                ' badge-outstock': order.status === 'pending',
                ' badge-cancel': order.status === 'cancel'

              }">
            {{ getStatusName(order.status) }}
          </div>
        </td>
<!--        <td class="text-end">{{ order.orderDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>-->
        <td>
          <button (click)="updateOrder.emit(order)" class="btn btn-primary">
            <i class="fa fa-eye mr"></i> Chi tiết
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="d-flex justify-content-end">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="(pageInfo.currentPage - 1) * pageInfo.recordPerPage"
      [rows]="pageInfo.recordPerPage"
      [totalRecords]="totalRecord"
      [rowsPerPageOptions]="[10, 20, 30, 40]"
      [showFirstLastIcon]="true">
    </p-paginator>
    <p class="text-secondary mt-4 d-none-sm">Hiển thị {{ orders?.length }} trong {{ totalRecord }} sản
      phẩm</p>
  </div>
</ng-container>
<ng-template #noOrders>
  <h4>Không có đơn hàng mới!</h4>
</ng-template>
