html, body {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  background: rgb(69, 139, 243);
  margin-top: auto;

  .p {
    text-align: center;
    color: white;
    padding: 1rem;
  }
}
