.navbar-mobile {
  display: none;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.list-menu {
  padding: 8px 12px;

}

.menu-item {
  text-align: center;
  opacity: 0.7;
}

.menu-item.active {
  .menu-icon, .menu-name {
    color: #007bff;
    opacity: 1;
  }
}

@media screen and  (max-width: 767px) {
  .navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}
