<div class="navbar-mobile" *ngIf="isLogin; else noLogin">
  <div class="list-menu" *ngFor="let menu of listMenu">
    <a [routerLink]="menu.routing" [class.active]="menu.active"  class="menu-item">
      <div class="menu-icon ">
        <i [class]="menu.icon"></i>
      </div>
      <div class="menu-name">
        {{menu.name}}
      </div>
    </a>
  </div>
</div>

<ng-template #noLogin>
  <div class="navbar-mobile">
    <div class="list-menu" *ngFor="let menu of listMenu">
      <a [routerLink]="menu.noLogin" [class.active]="menu.active"   class="menu-item">
        <div class="menu-icon ">
          <i [class]="menu.icon"></i>
        </div>
        <div class="menu-name">
          {{menu.name}}
        </div>
      </a>
    </div>
  </div>
</ng-template>
