.voucher-card {
  display: flex;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1); /* Không có bóng ở cạnh trái */
}


.content {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  width: 30px;
}

.content.active {
  background-color: #5dbea3 ;
}

.content.inactive {
  background-color: #FA8072;
}

.content.expired {
  background-color: #ccc;
}

.status.active {
  color: #28a745;
  font-weight: bold;

}

.status.inactive {
  color: #3F4254;
  font-weight: bold;

}

.status.expired {
  color: #ccc;
  font-weight: bold;

}

.label {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  opacity: 0.8;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7, .circle8, .circle9 {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: -4px;
}

.circle1 {
  top: 10%;
  transform: translateY(-10%);
}

.circle2 {
  top: 20%;
  transform: translateY(-20%);
}

.circle3 {
  top: 30%;
  transform: translateY(-30%);
}

.circle4 {
  top: 40%;
  transform: translateY(-40%);
}

.circle5 {
  top: 50%;
  transform: translateY(-50%);
}

.circle6 {
  top: 60%;
  transform: translateY(-60%);
}

.circle7 {
  top: 70%;
  transform: translateY(-70%);
}

.circle8 {
  top: 80%;
  transform: translateY(-80%);
}

.circle9 {
  top: 90%;
  transform: translateY(-90%);
}

.voucher-content {
  padding: 16px;
  width: 100%;
}

.voucher-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.coupon-code {
  font-size: 18px;
  font-weight: bold;
}

.status.active {
  color: green;
  font-weight: bold;
}

.voucher-subtext {
  color: green;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.voucher-details {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}

.detail {
  font-weight: bold;
  color: #333;
}

.voucher-description {
  font-size: 14px;
  color: #555;
  margin: 8px 0;
}

.more-link {
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}
