<div class="container" style="height: 73vh">
  <div class="row">
    <h2 class="mt-3">Các voucher hiện có</h2>
    <div class="col-6 py-2" *ngFor="let data of listCoupon">
      <div class="voucher-card">
        <div class="content" [ngClass]="{
          'active': data.status === 'ACTIVE',
          'inactive': data.status === 'INACTIVE',
          'expired': data.status === 'EXPIRED'
        }">
          <span class="label">Giảm {{data.discountPercent}} %</span>
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
          <div class="circle5"></div>
          <div class="circle6"></div>
          <div class="circle7"></div>
          <div class="circle8"></div>
          <div class="circle9"></div>
        </div>
        <div class="voucher-content">
          <div class="voucher-header">
            <span class="coupon-code">{{data.name}}</span>
            <span class="status" [ngClass]="{
              'active': data.status === 'ACTIVE',
              'inactive': data.status === 'INACTIVE',
              'expired': data.status === 'EXPIRED'
            }">{{data.status}}</span>
          </div>
          <p class="text">Giảm {{data.discountPercent}}% tổng giá trị đơn hàng, tối đa {{data.maxDiscountAmount / 1000}}k</p>
          <p class="voucher-description">Áp dụng cho tất cả mặt hàng.</p>
          <span >Số lượng: {{data.quantity}}</span>

          <div class="voucher-details">
            <span class="detail">
              Hạn sử dụng mã:
              {{ data.startDate | date: 'dd/MM/yyyy HH:mm:ss' }} - {{ data.endDate | date: 'dd/MM/yyyy HH:mm:ss' }}
            </span>

          </div>
          <p *ngIf="data.status === 'ACTIVE'; else expired">Thời gian còn lại: {{ timeIntervals[data.code] }}</p>
          <ng-template #expired>
            <p>
              Thời gian còn lại: 0h 0m 0s
            </p>
          </ng-template>


          <div class="d-flex align-items-center justify-content-between">
            <button (click)="copyCode(data.code)" class="btn btn-save">Lấy mã</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
