<div class="content" style="background-color: rgb(60, 125, 211);">
  <div class="container">
    <div class="row" style="padding: 7px 0">
      <div class="col-5 d-flex justify-content-start language">
        <div class="dropdown">
          <span class="dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
            <img style="object-fit: cover" src="./assets/flag.webp" alt="co" width="16" height="11">
            Tiếng việt
          </span>
          <ul class="dropdown-menu mt-2">
            <li class="dropdown-item">
              <img style="object-fit: cover" src="./assets/flag.webp" alt="co" width="16" height="11">
              Tiếng việt
            </li>
          </ul>
        </div>

      </div>

      <div class="col-7 d-flex justify-content-end login">
        <ng-container *ngIf="isLogin; else noLogin">
          <div class="user-dropdown">
            <ng-container *ngIf="avt; else noAvt">
              <img [src]="avt" style="width: 20px; height: 20px; border-radius: 50%" alt="">
            </ng-container>
            <ng-template #noAvt>
              <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            </ng-template>
            <span class="text-white dropdown-toggle me-1" data-bs-toggle="dropdown" data-bs-reference="parent"
                  style="width: 300px">
              {{ currentUser }}
            </span>
            <ul class="dropdown-menu dropdown-menu-lg-end " style="width: 200px">
              <li>
                <a routerLink="profile" class="dropdown-item">
                  Cập nhật tài khoản
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="order">
                  Đơn hàng
                </a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" (click)="logOut()">
                  <i class="pi pi-sign-out"></i>
                  Đăng xuất
                </a>
              </li>
            </ul>
          </div>
        </ng-container>
        <ng-template #noLogin>
          <a routerLink="/login">
              <span class="text-white">
                Đăng nhập/Đăng ký
              </span>
          </a>
        </ng-template>

      </div>
    </div>
  </div>
</div>
