/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body {
  font-family: Poppins, sans-serif !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
}

@media screen and  (max-width: 767px) {
  .d-none-sm {
    display: none;
  }
  .d-mobile-block {
    display: block !important;
  }

  .flex-column-sm {
    flex-direction: column !important;
  }

  .text-end-sm {
    text-align: right !important;
  }
}

ul {
  padding: 0 !important;
}

a {
  text-decoration: none !important;
  color: #333 !important;
}

a:hover {
  cursor: pointer;
  color: rgb(69, 139, 243);
  transition: color 0.2s !important;
}

$base-color: #ddd;
$shine-color: #ccc;
$animation-duration: 1.6s;
$avatar-offset: 52 + 16;

@mixin background-gradient {
  background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
  background-size: 600px;
}

.avatar {
  width: 100%;
  height: 250px;
  display: flex;
  @include background-gradient;
  animation: shine-avatar $animation-duration infinite linear;
}

.ghost {
  height: 22px;
  min-width: 80px;
  width: 100%;
  display: inline-block;
  @include background-gradient;
  animation: shine-lines $animation-duration infinite linear;
}

.ghost.lg {
  width: 75%;
}

.ghost.md {
  width: 50%;
}

.ghost.sm {
  width: 25%;

}

.ghost.xs {
  width: 20px;
  min-width: 20px;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }

  40%, 100% {
    background-position: 140px;
  }
}


@keyframes shine-avatar {
  0% {
    background-position: -100px + $avatar-offset;
  }

  40%, 100% {
    background-position: 140px + $avatar-offset
  }
}


.form-control {
  padding: .78rem 1.14rem;
  border-color: #e4e9f0;
}

.form-control.ng-touched.ng-invalid {
  border: 1px solid red !important;
}

.form-control:focus {
  border-color: #3699ff;
}

.btn-primary {
  border-radius: 6px ;
  color: #FFFFFF;
  background-color: #3699FF;
  border-color: #3699FF;
  transition: all 0.3s linear;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #1086ff;
  border-color: #037fff;
}

.badge-new {
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  border-radius: 4px;
  background: #9cd0ed;
  color: #0e5075;
}

.badge-instock{
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  border-radius: 4px;
  background: #a2dbca;
  color: #155e48;
}

.btn-save {
  color: #ffffff;
  background: #5dbea3;
  border: none;
  border-radius: 6px;
  padding: 6px 12px ;
}

.btn-save:hover {
  color: #ffffff;
  background: #58a891;
}

.badge-lowstock {
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  border-radius: 4px;
  background: #fce693;
  color: #896c02;
}

.badge-outstock {
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  border-radius: 4px;
  background: #e7b2d1;
  color: #6d2952;
}

.badge-cancel {
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  border-radius: 4px;
  background: #fbd3d3;
  color: #f15151;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
