<header style="background: rgb(69, 139, 243);z-index: 99 ;position: sticky; top: 0;">
  <div class="header_container">
    <div class="container">
      <div class="d-flex header-menu align-items-center justify-content-between">
        <div class="logo-navbar d-flex align-items-center justify-content-between ">
          <div class="">
            <a routerLink="./shopping" class="logo">
              <img src="./assets/logo.png" width="148px" height="50px" style="border-style: none;" alt="">
            </a>
          </div>

          <div class="button-menu" (click)="open(content)">
            <i class="fa-solid fa-bars text-white"></i>
          </div>
        </div>
        <ng-template  #content let-offcanvas>
          <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="offcanvas-basic-title">Xin chao</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
          </div>
          <div class="offcanvas-body">
            <div class="row" *ngIf="!isLogin; else login">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <div  class="btn btn-primary " id="dropdownBasic" ngbDropdownToggle>
                      <img style="object-fit: cover" src="./assets/flag.webp" alt="co" width="16" height="11">
                      Ngôn ngữ
                  </div>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                    <button ngbDropdownItem>
                      <img style="object-fit: cover" src="./assets/flag.webp" alt="co" width="16" height="11">
                      Tiếng việt
                    </button>
                  </div>
                </div>
              </div>
              <div class="col">
                <a routerLink="/login" (click)="offcanvas.dismiss('Cross click')">
                  <i class="fa-solid fa-power-off"></i>
                  Đăng nhập/ Đăng ký
                </a>
              </div>
            </div>
            <ng-template #login >
              <div class="row">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <div  class="btn btn-primary " id="dropdownBasic2" ngbDropdownToggle>
                      <img style="object-fit: cover" src="./assets/flag.webp" alt="co" width="16" height="11">
                      Ngôn ngữ
                    </div>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                      <button ngbDropdownItem>
                        <img style="object-fit: cover" src="./assets/flag.webp" alt="co" width="16" height="11">
                        Tiếng việt
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <a routerLink="/login" (click)="logOut()">
                    <i class="fa-solid fa-power-off"></i>
                    Đăng xuất
                  </a>
                </div>
              </div>

            </ng-template>
<!--            <div class="text-end">-->
<!--              <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Save click')">Save</button>-->
<!--            </div>-->
          </div>
        </ng-template>

        <div class="search ">
          <div class="input-group ">
            <input style="line-height: 2" type="text" class="form-control sm" [(ngModel)]="textSearch" placeholder="Tìm sản phẩm....">
            <a (click)="onSearch()" class="input-group-text">
               <i class="fa-solid px-2 fa-magnifying-glass" style="color: #74C0FC;"></i>
            </a>
          </div>
        </div>

        <div class="cart">
          <ng-container *ngIf="isLogin; else noLogin">
            <a routerLink="/favourite" style="margin-right: 16px">
              <i class="pi pi-heart-fill"></i>
            </a>
            <a routerLink="/cart">
              <i class="fa-solid fa-cart-shopping" severity="success" pBadge *ngIf="parseInt(quantityProduct, 10) > 0"
                 [value]="quantityProduct"></i>
              <i class="fa-solid fa-cart-shopping" *ngIf="parseInt(quantityProduct, 10) === 0"></i>
            </a>


          </ng-container>
          <ng-template #noLogin>
            <a routerLink="/favourite" style="margin-right: 16px">
              <i class="pi pi-heart-fill"></i>
            </a>
            <a routerLink="/login">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </ng-template>
        </div>

      </div>
    </div>
  </div>
</header>
