.header_container {
  padding: 15px 0;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart i {
  color: #ffffff;
  font-size: 24px;
}

.search {
  flex: 1;
  padding: 0 12px;
}

.button-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-menu {
    flex-direction: column;
  }

  .button-menu {
    display: block;
  }

  .logo-navbar {
    width: 100%;
    margin-bottom: 8px;
  }

  .button-menu {
    font-size: 18px;
    margin-right: 12px;
  }

  .search {
    width: 100%;
    padding: 0;
  }

  .cart {
    display: none;
  }

}
