<div class="container">
  <div class="mt-3 mb-5">
    <p-panel header="Chi tiết đơn hàng">
      <div class="row">
        <div class="col-sm-5 col-6">
          <div class="d-flex flex-column">
            <div class="username mb-3">
              <strong>Tên người nhận</strong>
              <p>{{name}}</p>
            </div>
            <div class="mb-3 phonenumber">
              <strong>Số điện thoại</strong>
              <p>{{phoneNumber}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-6">
          <div class="d-flex flex-column">
            <div class="mb-3 address">
              <strong>Địa chỉ nhận hàng</strong>
              <p>{{address}}</p>
            </div>
            <div class="mb-3 email">
              <strong>Email</strong>
              <p>{{email}}</p>
            </div>
          </div>
        </div>

        <div class="d-none-sm">
          <p-timeline  [value]="events" layout="horizontal" styleClass="customized-timeline" align="bottom">
            <ng-template pTemplate="marker" let-event>
            <span class="custom-marker shadow-2" [style.background-color]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>
            </ng-template>

            <ng-template pTemplate="content" let-event>
            <span class="custom-content">
            {{ event.status }}
            </span>
            </ng-template>
            <ng-template pTemplate="opposite" let-event>
              <small class="p-text-secondary">
                {{ event.date }}
              </small>
            </ng-template>
          </p-timeline>

        </div>

        <div class="col-12 d-sm-none d-mobile-block">
          <p-timeline  [value]="events">
            <ng-template pTemplate="marker" let-event>
            <span class="custom-marker shadow-2" [style.background-color]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>
            </ng-template>

            <ng-template pTemplate="content" let-event>
            <span class="custom-content">
            {{ event.status }}
            </span>
            </ng-template>
            <ng-template pTemplate="opposite" let-event>
              <small class="p-text-secondary">
                {{ event.date }}
              </small>
            </ng-template>
          </p-timeline>

        </div>
        <div class="col-12 mt-5">
          <div class="list-button d-flex">
            <button class="btn btn-primary" *ngIf="order?.status === 'delivery'" (click)="updateOrder()" style="margin-right: 8px;">
              <i class="pi pi-check"></i>
              Đã nhận được hàng
            </button>
            <button class="btn btn-danger " (click)="cancelOrder()" style="margin-right: 8px;">
              <i class="pi pi-trash"></i>
              Hủy đơn hàng
            </button>
            <button (click)="this.showComment()" *ngIf="order?.status === 'done'" class="btn btn-secondary">
              <i class="pi pi-comment"></i>
              Đánh giá
            </button>
          </div>
        </div>
      </div>
    </p-panel>
  </div>

</div>
<p-toast></p-toast>
<p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <span class="fw-bold">Đánh giá sản phẩm</span>
  </ng-template>
  <div class="rating-content">
    <div class="d-flex mb-3">
      <span  style="margin-right: 8px">Chất lượng sản phẩm</span>
      <p-rating [(ngModel)]="rating" [cancel]="false"></p-rating>
    </div>
    <div class="col-12 mb-3">
      <textarea rows="5" placeholder="Nội dung đánh giá" [(ngModel)]="content" pInputTextarea [autoResize]="true"></textarea>
    </div>
    <div class="col-12 mb-3">
      <p-fileUpload
        name="listThumbnail"
        [customUpload]="true"
        [multiple]="true"
        (uploadHandler)="onUpload($event)"
        [maxFileSize]="1000000"
        [auto]="true"
        accept="image/*"
        chooseLabel="Thêm hình ảnh "
        uploadLabel="Tải lên"
        cancelLabel="Hủy">
        <ng-template pTemplate="toolbar">
          <div class="py-3">Tải tối đa 5 ảnh</div>
        </ng-template>

      </p-fileUpload>
    </div>


  </div>
  <ng-template pTemplate="footer">
<!--    <p-button icon="pi pi-check" (click)="visible = false" label="Ok" ></p-button>-->
    <button  (click)="addComment()" class="btn btn-outline-warning">
      <i class="pi pi-check"></i>
      Thêm
    </button>
  </ng-template>
</p-dialog>
