.custom-marker {
  //padding: 8px;
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  i {
    color: #fff;
  }
}

.custom-content {
  width: 220px !important;
  display: inline-block;
}

input, textarea {
  width: 100%;
}

::ng-deep .p-rating-icon {
  color: #f39c12;  /* Màu cho icon chưa được chọn */
}

::ng-deep .p-rating-icon.pi-star {
  color: #f1c40f;  /* Màu cho icon đã chọn (ngôi sao) */
}

::ng-deep .p-rating-icon.pi-star-o {
  color: #ccc;  /* Màu cho icon chưa chọn (ngôi sao trống) */
}

