/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body { height: 100%; }
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  text-decoration: none;
}

 .body-content {
    padding: 16px;
    background-color: #fff;
 }

 .app {
   padding: 16px;
   background-color: #eaedef;
   margin-top: 64px;
   height: 100vh
 }

 .font-icon {
   font-size: 3rem;
   margin-right: 1rem;
 }

.text-blue {
  color: rgb(25 146 212);
}

.text-orange {
  color: #de911d;
}

.text-green {
  color: #27ab83;
}

.text-purple {
  color: #ba6ff4;
}

.btn-primary {
  border-radius: 6px ;
  color: #FFFFFF;
  background-color: #3699FF;
  border-color: #3699FF;
  transition: all 0.3s linear;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #1086ff;
  border-color: #037fff;
}

.btn-outline-primary {
  background: #e9f1fb !important;
  color: #5895fa !important;
  padding: 6px 12px ;
  border-radius: 6px;
  border: none;
  font-weight: 500;
}

.btn-outline-primary:hover {
  background: #5895fa !important;
  color: #fff !important;
  padding: 6px 12px ;
  border-radius: 6px;
  transition: linear 0.2s;
}


.btn-outline-warning {
  background: #fff ;
  color: #F59E0B ;
  padding: 6px 12px ;
  border-radius: 6px;
  border:1px solid #F59E0B ;
  transition: linear 0.2s;
}

.btn-warning {
  background: #F59E0B ;
  color: #fff ;
  padding: 6px 12px ;
  border-radius: 6px;
  border:1px solid #F59E0B ;
}

.btn-warning:hover {
  background: #dd8f0c ;
  color: #fff ;
}

.btn-outline-warning:hover {
  background: #F59E0B ;
  color: #fff ;
}

.btn-update {
  color: #ffffff;
  background: #A855F7;
  border: none;
  border-radius: 6px;
  padding: 6px 12px ;
}

.btn-save {
  color: #ffffff;
  background: #5dbea3;
  border: none;
  border-radius: 6px;
  padding: 6px 12px ;
}

.btn-save:hover {
  color: #ffffff;
  background: #58a891;
}

.btn-update:hover {
  color: #ffffff;
  background-color: #942ef6;
  border-color: #037fff;
}

.icon-update {
  color: #942ef6;
}

.icon-delete {
  color: #f15151;
}

.btn-delete {
  color: #ffffff;
  background: #d34d4d;
  border: none;
  border-radius: 6px;
  padding: 6px 12px ;
}

.btn-delete:hover {
  color: #ffffff;
  background: #991f1f;
  border-color: #991f1f;
}

.table-responsive-order {
  max-height: 650px;
  overflow: scroll;

  th, thead{
    position: sticky;
    top: 0;
  }
}

.table-responsive {
  max-height: 500px;
  overflow: scroll;

  th, thead{
    position: sticky;
    top: 0;
  }


}

.badge-new {
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  border-radius: 4px;
  background: #9cd0ed;
  color: #0e5075;
}

.badge-instock{
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  border-radius: 4px;
  background: #a2dbca;
  color: #155e48;
}

.badge-lowstock {
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  border-radius: 4px;
  background: #fce693;
  color: #896c02;
}

.badge-cancel {
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  border-radius: 4px;
  background: #fbd3d3;
  color: #f15151;
}

.badge-outstock {
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  border-radius: 4px;
  background: #e7b2d1;
  color: #6d2952;
}

ul {
  padding-left: 0 !important;
}

input, textarea {
  width: 100%;
}

p-inputnumber, .p-inputnumber {
  display: block !important;
}



input.ng-touched.ng-invalid {
  border: 1px solid red !important;
}

.p-dropdown.ng-touched.ng-invalid {
  border: 1px solid red !important;
}

.mr {
  margin-right: 8px;
}


