<div class="list-button d-flex flex-row justify-content-between align-items-center mb-4">
  <button class="btn btn-primary" (click)="addProduct.emit()">
    <i class="fa-solid fa-plus"></i>
    Thêm sản phẩm
  </button>

  <div class="d-flex flex-row align-items-center">
    <p-dropdown class="mr" optionLabel="text" optionValue="value" [(ngModel)]="categorySearch" [showClear]="true" placeholder="--Danh mục cha--"
                (onChange)="onCategoryChange($event)" [options]="categories"></p-dropdown>

    <p-dropdown class="mr" optionLabel="text" optionValue="value" [(ngModel)]="subCategorySearch" [showClear]="true" placeholder="--Danh mục con--"
                [options]="subCategory"></p-dropdown>

    <p-dropdown class="mr" optionLabel="name" optionValue="value" [options]="listStock" [(ngModel)]="stockStatus" [showClear]="true" placeholder="--Tình trạng sản phẩm--"></p-dropdown>

    <span class="p-input-icon-left mr">
      <i class="pi pi-search"></i>
      <input [(ngModel)]="searchText" placeholder="Tìm kiếm theo tên sản phẩm" type="text" pInputText />
    </span>

    <button class="mr btn btn-outline-primary" (click)="filterProduct()">
      <i class="fa fa-filter"></i>
      Lọc
    </button>
    <button class="btn mr btn-outline-warning" (click)="clearSearch()">
      <i class="fa fa-xmark"></i>
      Bỏ lọc
    </button>
  </div>
</div>


<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="text-center">STT</th>
      <th>Tên sản phẩm</th>
      <th class="text-center">Giá</th>
      <th >Danh mục</th>
      <th>Tình trạng</th>
      <th class="text-center">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf=" products?.length > 0; else noProduct">
      <tr *ngFor="let product of products;  let i = index">
        <td class="text-center">{{(pageInfo.currentPage -1) * pageInfo.recordPerPage + i + 1}}</td>
        <td class="">
          <img [src]="product?.thumbnail" style="width: 60px; height: 60px; object-fit: cover; margin-right: 10px;" alt="ảnh sản phẩm">
          <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 500px;">
         {{product?.name}}
        </span>
        </td>
        <td class="text-center">{{product?.price | number}} VND</td>
        <td class="">{{product?.subCategoryId}}</td>
        <td>
        <span *ngIf="product.totalProduct > 10" class="badge-instock">
          còn hàng
        </span>
          <span *ngIf="product.totalProduct <= 10 && product.totalProduct >= 1" class="badge-lowstock">
          còn ít hàng
        </span>
          <span *ngIf="product.totalProduct == 0" class="badge-outstock">
          hết hàng
        </span>
        </td>
        <td class="text-center">
          <div class="">
            <button class="btn-update mx-2" (click)="updateProduct.emit(product)">
              Cập nhật
            </button>
            <button class="btn-delete" (click)="deleteProduct(product)">Xóa</button>
          </div>

        </td>
      </tr>

    </ng-container>
    <ng-template #noProduct>
      Không tìm thấy sản phẩm nào
    </ng-template>
    </tbody>
  </table>

</div>
<div class="d-flex justify-content-end">
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="(pageInfo.currentPage - 1) * pageInfo.recordPerPage"
    [rows]="pageInfo.recordPerPage"
    [totalRecords]="totalRecord"
    [rowsPerPageOptions]="[10, 20, 30, 40]"
    [showFirstLastIcon]="true">
  </p-paginator>
  <p class="text-secondary mt-4 d-none-sm">Hiển thị {{ products?.length }} trong {{ totalRecord }} sản
    phẩm</p>
</div>

<p-confirmDialog #cd [style]="{width: '50vw'}">
  <ng-template pTemplate="footer">
    <button type="button" class="btn btn-secondary" (click)="cd.reject()" style="margin-right: 12px">Không</button>
    <button type="button" class="btn btn-danger" (click)="cd.accept()" >Có</button>
  </ng-template>
</p-confirmDialog>
<p-toast></p-toast>
