/* Đặt chiều rộng cụ thể cho các cột */
th, td {
  max-width: 200px; /* hoặc giá trị tùy chỉnh phù hợp với nội dung */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Đặt riêng từng cột nếu cần */
th:nth-child(2), td:nth-child(2) { /* Tên sản phẩm */
  min-width: 500px;
}

th:nth-child(3), td:nth-child(3) { /* Giá */
  max-width: 120px;
  text-align: center; /* Canh phải cho giá */
}

th:nth-child(4), td:nth-child(4) { /* Danh mục */
  max-width: 180px;
}

th:nth-child(5), td:nth-child(5) { /* Tình trạng */
  max-width: 100px;
}

th:nth-child(6), td:nth-child(6) { /* Thao tác */
  max-width: 150px;
}
