
<p-card >
  <div *ngFor="let data of order.orderDetails" class="mt-3 d-flex align-items-center justify-content-between">
    <div class="product-detail d-flex">
      <p-image [preview]="true" [src]="data.image" alt="test" width="160"></p-image>
      <div style="margin-left: 8px; margin-top: 12px">
        <p class="mb-0 fw-bold">{{data.name}}</p>
        <p style="color: darkred" class="mb-0">x{{data.quantity}}</p>
      </div>
    </div>
    <div class="price d-flex flex-column">
      <span class="fw-bold">
        {{data.totalPrice | number }} VND
      </span>
      <div *ngIf="data.quantity <= data.totalProduct; else notEnogh" class="badge badge-instock">
        còn hàng
      </div>
      <ng-template #notEnogh>
        <div  class="badge badge-outstock">
          số lượng trong kho không đủ
        </div>
      </ng-template>
    </div>
  </div>
</p-card>
<div class="row mt-3">
  <div class="col-sm-4">
    <div class="d-flex flex-column">
      <div class="username mb-3">
        <strong>Tên người nhận</strong>
        <p>{{order.fullName}}</p>
      </div>
      <div class="mb-3 phonenumber">
        <strong>Số điện thoại</strong>
        <p>{{order.phoneNumber}}</p>
      </div>
      <div class="mb-3 status d-flex flex-column">
        <strong>Trạng thái</strong>
        <p-dropdown [style]="{'width': '100%'}"  [options]="status" [(ngModel)]="statusSelect" optionValue="code"  optionLabel="name" placeholder="Trạng thái đơn hàng"></p-dropdown>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="d-flex flex-column">
      <div class="mb-3 address">
        <strong>Địa chỉ nhận hàng</strong>
        <p>{{order.address}}</p>
      </div>
      <div class="mb-3 email">
        <strong>Phương thức thanh toán</strong>
        <p *ngIf="order.paymentMethod == 'COD';">
          Thanh toán khi nhận hàng
        </p>
        <p *ngIf="order.paymentMethod == 'BANK';">
          Đã thanh toán bằng chuyển khoản
        </p>

      </div>
      <div class="mb-3 fee-ship">
        <strong>Phí ship</strong>
        <p>{{order.feeShip | number }} </p>
      </div>
      <div class="mb-3 total-money">
        <strong>Tổng tiền</strong>
        <h3 class=" fw1-l text-danger">{{order.totalMoney | number}} VND</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <p-timeline  [value]="events"  >
      <ng-template pTemplate="marker" let-event>
            <span class="custom-marker shadow-2" [style.background-color]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>
      </ng-template>

      <ng-template pTemplate="content" let-event>
            <span class="custom-content">
            {{ event.status }}
            </span>
      </ng-template>
      <ng-template pTemplate="opposite" let-event>
        <small class="p-text-secondary">
          {{ event.date }}
        </small>
      </ng-template>
    </p-timeline>
  </div>
  <div class="col-12 mt-3">
    <button *ngIf="!hasOutOfStockItems()"  (click)="updateOrder()" class=" btn btn-primary mr">
      <i class="pi pi-check"></i>
      Cập nhật
    </button>

    <button class="btn btn-outline-warning" (click)="cancelOrder()">
      <i class="pi pi-trash"></i>
      Hủy đơn hàng
    </button>
  </div>


</div>

<p-toast></p-toast>

