.input-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.select-all-product {
  display: flex;
  align-items: center;
}

.select-product-content, .order {
  border: 1px solid #eae0e0; /* Đường viền màu xám nhạt */
  border-radius: 4px; /* Bo tròn các góc viền */
  padding: 20px; /* Khoảng cách bên trong để nội dung không chạm vào viền */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Tạo đổ bóng */
  margin-bottom: 12px;
}

.remove-all-product:hover {
  color: rgb(69, 139, 243);
  cursor: pointer;
}

.product {
  border: 1px solid #eae0e0; /* Đường viền màu xám nhạt */
  border-radius: 4px; /* Bo tròn các góc viền */
  padding: 20px; /* Khoảng cách bên trong để nội dung không chạm vào viền */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Tạo đổ bóng */
  margin-bottom: 12px;
}

.product-select {
  //border-bottom: 1px solid #eff0f5;
  //height: 36px;
  //line-height: 40px;
}

.voucher {
  margin-top: 40px;
  margin-bottom: 20px;
}

.product-content {
  //padding: 16px 0;
}

p-dropdown .p-dropdown  input{
}

.p-dropdown {
  width: 100% !important;
}


//.small-placeholder::placeholder {
//  font-size: 14px; /* Adjust the size as needed */
//}

img {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  object-fit: cover;
  margin-right: 10px;
}

.quantity-control {
  display: flex;
  align-items: center;
}


button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
}

.quantity-control input {
  width: 50px;
  text-align: right;
  font-size: 18px;
  border: none;
  padding: 0;
}

.form-control {
  //background-color: #F3F6F9;
  border-color: #c1c3c6;
  padding: 0.8rem 1.2rem;
}


@media screen and  (max-width: 767px) {

}

