<div class="main-content container" style="padding: 25px 0;">
  <ng-container *ngIf="listProduct && listProduct?.length > 0; else noProduct">
    <div class="row" >
      <!-- product -->
      <div class="col-12 col-lg-8">
        <!-- select -->
        <div class="d-flex select-product-content">
          <div class="select-all-product flex-fill w-50">
            <input type="checkbox" class="input-checkbox" [(ngModel)]="selectAll" (change)="onSelectAllChange()">
            <strong>Chọn tất cả sản phẩm</strong>
          </div>
          <div class="price d-none-sm flex-fill">
            Giá
          </div>
          <div class="quantity d-none-sm text-center flex-fill">
            Số lượng
          </div>
          <div class="total-price d-none-sm text-end flex-fill">
            Tổng tiền
          </div>
          <div (click)="removeAllSelectedProducts()" class="remove-all-product text-end flex-fill">
            <i class="fa-solid fa-trash"></i>
            Xóa
          </div>
        </div>
        <!-- end-select -->

        <!-- list-product -->
        <div class="list-product" *ngFor="let product of listProduct">
          <div class="product">
            <div class="product-select d-flex justify-content-between align-items-center">
              <div class="">
                <input type="checkbox" class="input-checkbox" [(ngModel)]="product.selected"
                       (change)="onProductSelectChange()">
                Chọn sản phẩm

              </div>
              <div (click)="deleteProduct(product)" class="remove-all-product d-mobile-block d-sm-none">
                <i class="fa-solid fa-trash"></i>
                Xóa
              </div>
            </div>
            <p-divider></p-divider>
            <div class="product-content d-flex">
              <div class="title-product flex-column-sm flex-fill w-50 d-flex">
<!--                <img  [src]="product.thumbnail" alt="">-->
                <p-image [src]="product.thumbnail" [preview]="true" width="160"></p-image>
                <div class="title d-flex flex-column py-2">
                  <strong>{{ product.name }}</strong>
                  <div> <span>(Số lượng còn lại: </span>{{product.totalProduct}})</div>
                </div>
              </div>
              <div class="price-product d-none-sm flex-fill">
                <span class="text-danger">{{ product.price | number }}</span>
              </div>
              <div class="quantity-product flex-fill">
                <div class="quantity-control">
                  <button (click)="decrementQuantity(product)">-</button>
                  <input
                    class="form-control"
                    type="number"
                    min="1"
                    [value]="product.quantity"
                    (keydown)="preventNegative($event)"
                    (input)="onQuantityChange(product, $event)">
                  <button (click)="incrementQuantity(product)">+</button>
                </div>
              </div>
              <div class="total-price-product flex-fill text-end-sm text-danger">
                {{ product.totalPrice | number }}
              </div>
              <div (click)="deleteProduct(product)" class="remove-all-product d-none-sm text-end flex-fill">
                Xóa
              </div>
            </div>
          </div>
        </div>
        <!-- end-list-product -->
      </div>
      <!-- order -->
      <div class="col-12 col-lg-4">
        <div class="order" style="">
          <div class="address d-flex flex-column">
            <span class="mb-2" style="font-weight: 600">Địa điểm</span>
            <div class="address-detail">
              <i class="fa-solid fa-location-dot" style="margin-right: 12px"></i>
              <ng-container *ngIf="address;else noAddress">
                Vận chuyển tới  {{ address }}
              </ng-container>
              <ng-template #noAddress>
                Bạn chưa thêm địa chỉ
              </ng-template>
            </div>
            <p-divider></p-divider>
          </div>
          <div class="order-title mb-4">
            <h3>Thông tin đơn hàng</h3>
          </div>
          <div class="total-price mb-2 d-flex justify-content-between">
            <span style="font-weight: 600">Tạm tính ({{ selectedProductCount }} sản phẩm ):</span>
            <strong>{{ totalOrder | number }}đ</strong>
          </div>

          <div class="price-ship mb-2 d-flex justify-content-between">
            <span style="font-weight: 600">Phí vận chuyển:</span>
            <strong>{{feeShip | number}}đ</strong>
          </div>

          <div class="total-price mb-2 d-flex justify-content-between">
            <span style="font-weight: 600"> Vocher giảm giá: </span>
            <strong>{{ feeVoucher | number }}đ</strong>
          </div>

          <div class="voucher" >
            <label style="font-weight: 600">Chọn phương thức thanh toán</label>
            <p-dropdown [style]="{'width': '100%'}" styleClass="p-dropdown" [options]="paymentMethod" [(ngModel)]="paymentSelect" optionLabel="name"  optionValue="code" placeholder="Chọn phương thức thanh toán"></p-dropdown>
          </div>
          <div class=" d-flex">
            <input style="margin-right: 16px; width: 70%" [(ngModel)]="code" type="text" class=" form-control  "
                   placeholder="Mã giảm giá sản phẩm ">
            <p-button (click)="findVoucher(code)" label="Áp dụng" [raised]="true" severity="help"></p-button>
          </div>

          <div class="summary mt-3 d-flex justify-content-between">
            <span style="font-weight: 600">Tổng tiền</span>
            <strong>{{ totalOrder + feeShip - feeVoucher| number }}đ </strong>
          </div>
          <div class="vat text-end text-secondary">
            (Đã bao gồm thuế VAT nếu có)
          </div>
          <div class="confirm-order mt-4 text-end">
            <p-button [loading]="loading" label="Xác nhận đơn hàng" (click)="confirmOrder()" [raised]="true"
                      severity="warning"></p-button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noProduct>
    <div class="d-flex flex-column align-items-center justify-content-center"
         style=" height: 68vh; text-align: center;">
      <img style="height: 350px; width: 100%; object-fit: contain" src="./assets/no-product-cart.webp" alt="">
      <h4>Giỏ hàng của bạn đang trống !</h4>
      <p-button routerLink="../shopping"> Mua ngay</p-button>
    </div>
  </ng-template>
</div>
<!--<p-toast position="top-center" key="tc"></p-toast>-->
<!--<p-toast></p-toast>-->
