<div class="container" style="margin-top: 20px; margin-bottom: 250px;">
  <ng-container *ngIf="orders?.length > 0; else noOrders">
    <h3 class="mb-4">Đơn hàng gần đây</h3>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-center">STT</th>
        <th class="w-50">Tên sản phẩm</th>
        <th class="d-none-sm">Tổng tiền</th>
        <th class="text-center d-none-sm">Trạng thái </th>
        <th class="d-none-sm">Thao tác</th>
        <th class="d-mobile-block text-end d-sm-none">Chi tiết</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders; let i = index">
        <th class="text-center">{{ i + 1 }}</th>
        <td>
          <div *ngFor="let detail of order.orderDetails" class="d-flex flex-column-sm  mb-2">
            <img [src]="detail.image" alt="{{ detail.name }}" style="width: 100px; height: 100px; margin-right: 10px;"/>
            <div>
              <p class="mb-0">{{ detail.name }}  <span class="text-danger fw-bold"> x{{ detail.quantity }}</span></p>
              <p style="color: darkred" class="mb-0 "></p>
            </div>
          </div>
        </td>
        <td class="fw-bold d-none-sm">{{ order.totalMoney | number }}</td>
<!--        <td class=" text-center">-->

<!--          </div>-->
<!--        </td>-->
<!--        <td class="text-end">{{ order.orderDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>-->
        <td class="text-center d-none-sm">
          <div class="badge " [ngClass]="{
                ' badge-instock': order.status === 'done',
                ' badge-new': order.status === 'prepare',
                ' badge-lowstock': order.status === 'delivery',
                ' badge-outstock': order.status === 'pending',
                ' badge-cancel': order.status === 'cancel'
              }">
            {{ getStatusName(order.status) }}
          </div>
        </td>
        <td class="d-none-sm">
          <div class="">
            <button style="margin-right: 8px;" [routerLink]="order.id" class=" btn-primary">
              <i class="pi pi-eye"></i>
              Xem chi tiết
            </button>
          </div>
        </td>
        <td class="d-mobile-block d-sm-none">
          <div class="d-flex flex-column ">
            <div class="status align-items-center justify-content-center  d-flex mb-3">
              <!--              <div class="">Trang thai</div>-->
              <div class="badge " [ngClass]="{
                ' badge-instock': order.status === 'done',
                ' badge-new': order.status === 'prepare',
                ' badge-lowstock': order.status === 'delivery',
                ' badge-outstock': order.status === 'pending',
                ' badge-cancel': order.status === 'cancel'
              }">
                {{ getStatusName(order.status) }}
              </div>
            </div>
            <div class="price d-flex justify-content-between mb-3">
              <div class="">Tổng tiền</div>
              <div class="fw-bold text-danger">{{order.totalMoney | number}}</div>
            </div>

            <div class="price d-flex justify-content-center mb-2">
              <button style="margin-right: 8px;" [routerLink]="order.id" class="btn btn-primary">
                <i class="pi pi-eye"></i>
                Xem chi tiết
              </button>
            </div>

          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noOrders>
    <div class="d-flex flex-column align-items-center justify-content-center"
         style=" height: 68vh; text-align: center;">
      <img style="height: 350px; width: 100%; object-fit: contain" src="./assets/no-order-1.png" alt="">
      <h4>Chưa có đơn hàng !</h4>
      <p-button severity="help" routerLink="../cart"> Quay về giỏ hàng <i class="pi pi-cart-plus"></i></p-button>
    </div>
  </ng-template>
</div>

<p-toast></p-toast>
