
<div class="d-flex mb-3 justify-content-end">
  <div class="p-inputgroup " [style]="{'width': '30%'}">
    <input type="text" [(ngModel)]="searchText" pInputText placeholder="Nhập từ khóa muốn tìm kiếm" />
    <button style="border-radius: 0px" class="btn btn-primary">
      <i class="pi pi-search"></i>
    </button>
  </div>
</div>

<div class="table-responsive mt-3">
  <table class="table">
    <thead>
    <tr>
      <th>STT</th>
      <th>Tên người dùng</th>
      <th>Số điện thoại</th>
      <th>Địa chỉ</th>
      <th>Ngày sinh</th>
      <th>Role</th>
      <th>Trạng thái</th>
    </tr>
    </thead>

    <tbody>
    <!-- Sử dụng *ngIf để kiểm tra nếu có dữ liệu sau khi lọc -->
    <ng-container *ngIf="(users | filter: searchText).length > 0; else noData">
      <tr *ngFor="let data of users | filter: searchText; let i = index">
        <td>{{i + 1}}</td>
        <td class="d-flex align-items-center">
          <img *ngIf="data.avt; else noAvt" [src]="data.avt" class="mr" alt="avt" width="50" height="50" style="border-radius: 50%; object-fit: cover">
          <ng-template #noAvt>
            <img src="./assets/img/user.jpg" class="mr" alt="avt" width="50" height="50" style="border-radius: 50%; object-fit: cover">
          </ng-template>
          <div>
            {{data.fullName}}
          </div>
        </td>
        <td>{{data.phoneNumber}}</td>
        <td>{{data.address}}</td>
        <td>{{data.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
        <td>{{data.roleName}}</td>
        <td>
          <button (click)="updateStatus(data)" [ngClass]="data.active ? 'btn btn-save' : 'btn btn-delete'">
            <div *ngIf="data.active">
              <i class="pi pi-lock-open"></i>
              Hoạt động
            </div>
            <div *ngIf="!data.active">
              <i class="pi pi-lock"></i>
              Đang khóa
            </div>
          </button>
        </td>
      </tr>
    </ng-container>
    <!-- Template khi không có dữ liệu khớp với từ khóa -->
    <ng-template #noData>
      <tr>
        <td colspan="7" class="text-center">Không tìm thấy kết quả</td>
      </tr>
    </ng-template>
    </tbody>
  </table>
</div>
