<my-tabs>
  <my-tab
    [icon]="'pi pi-list'"
    [tabTitle]="'Danh sách mã giảm giá'"
  >
    <app-list-coupon
      (addCoupon)="onAddCoupon()"
      (updateCoupon)="onUpdateCoupon($event)"
    ></app-list-coupon>
  </my-tab>
</my-tabs>

<ng-template #addCoupon>
  <app-add-coupon></app-add-coupon>
</ng-template>

<ng-template #updateCoupon>
  <app-update-coupon
    [coupon]="dataUpdate"
  ></app-update-coupon>
</ng-template>
