<ng-container *ngIf="loading; else noLoading">
  <div style="height: 100vh; display: flex; align-items: center; justify-content: center">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="logo d-flex justify-content-center">
        <img src="./assets/img/logo.png" style="height: 80px; width: 200px; object-fit: contain;" alt="">
      </div>
      <i class="pi pi-spin pi-spinner text-blue" style="font-size: 2rem"></i>
    </div>
  </div>
</ng-container>

<ng-template #noLoading>
  <div class="img-background" style="background-image: url('assets/img/login-page.jpg')">
    <div class="row ">
      <div class="col-6"> <!-- Giảm kích thước cột -->
        <div [formGroup]="signInForm" class="login-form">
          <div class="logo d-flex justify-content-center mb-5">
            <img src="./assets/img/logo.png" style="height: 80px; width: 200px; object-fit: contain;" alt="">
          </div>
          <div class="mb-3">
            <label class="form-label">Tên đăng nhập</label>
            <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Tên đăng nhập">
            <app-control-message
              [label]="'Số điện thoại'"
              [control]="signInForm.controls['phoneNumber']"
            ></app-control-message>
          </div>
          <div class="mb-3">
            <label class="form-label">Mật khẩu</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Mật khẩu">
            <app-control-message
              [label]="'Mật khẩu'"
              [control]="signInForm.controls['password']"
            ></app-control-message>
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="">
              <label class="form-check-label">
                Ghi nhớ
              </label>
            </div>
            <a class="text-blue"  routerLink="/">Quên mật khẩu?</a>
          </div>
          <div class="button-login d-flex justify-content-center">
            <button class="btn btn-primary " (click)="login()">Đăng nhập</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<p-toast></p-toast>
