.img-background {
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  padding: 0.8rem 1.2rem;
}

.login-form {
  padding: 30px; /* Thay đổi padding để tạo không gian */
  min-width: 400px; /* Thay đổi chiều rộng tối thiểu của form */
  min-height: 300px; /* Thay đổi chiều cao tối thiểu của form */
  background-color: rgba(255, 255, 255, 0.8); /* Nền cho form */
  border-radius: 8px; /* Bo tròn góc cho form */
}

.form-group label {
  font-size: 1rem;
  font-weight: 400;
  color: #3F4254;
}

