<div class="row gy-4">
  <div>
    <button (click)="addCoupon.emit()" class="btn btn-primary">
      <i class="pi pi-plus"></i>
      Thêm mã giảm giá
    </button>
  </div>
  <ng-container *ngIf="listCoupon?.length > 0; else noCoupon">
    <div class="col-3" *ngFor="let data of listCoupon">
      <div class="voucher-card">
        <div class="content" [ngClass]="{
          'active': data.status === 'ACTIVE',
          'inactive': data.status === 'INACTIVE',
          'expired': data.status === 'EXPIRED'
        }">
          <span class="label">
            Giảm {{ data.discountPercent }} %
          </span>
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="voucher-content">
          <div class="voucher-header">
            <span class="coupon-code">{{ data.name }}</span>
            <span class="status" [ngClass]="{
              'active': data.status === 'ACTIVE',
              'inactive': data.status === 'INACTIVE',
              'expired': data.status === 'EXPIRED'
            }">{{ data.status }}</span>
          </div>
          <p class="text">Giảm {{ data.discountPercent }}% tổng giá trị đơn hàng, tối đa {{ data.maxDiscountAmount / 1000 }}k</p>
          <p class="voucher-description">Áp dụng cho tất cả mặt hàng.</p>
<!--          <p *ngIf="data.status === 'ACTIVE'; else expired">Thời gian còn lại: {{ remainingTime[data.code] }}</p>-->
<!--          <ng-template #expired>-->
<!--            <p>-->
<!--              Thời gian còn lại: 0h 0m 0s-->
<!--            </p>-->
<!--          </ng-template>-->
          <div class="d-flex align-items-center justify-content-between">
            <a (click)="updateCoupon.emit(data)" class="more-link">Chi tiết</a>
            <a (click)="deleteCoupon(data.code)" style="color: #d34d4d">Xóa</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noCoupon>
    Chưa có coupon
  </ng-template>
</div>
