<ng-container *ngIf="categories ; else loading">
  <div class="sidebar">
    <div class="sidebar_header" style="margin-bottom: 24px">
      <div class="fw-bold">Danh mục hàng đầu</div>
      <small class="fw-normal">Những gì mọi người tìm kiếm</small>
    </div>
    <div class="sidebar_content ">
      <div class="category_list">
        <div *ngFor="let category of categories" class="category_item">
          <div class="category_header">
            <a [routerLink]="'/category/' + category.value "
               class="category_name">{{ category.text || category.name }}</a>
            <span (click)="category.expanded = !category.expanded">
            <i *ngIf="category.children?.length > 0" class="fa-solid"
               [ngClass]="{'fa-angle-down': !category.expanded, 'fa-angle-up': category.expanded}"
               style="color: #000000;"></i>
          </span>
          </div>
          <div *ngIf="category.expanded" class="subcategory_list">
            <div *ngFor="let subcategory of category.children" class="subcategory_item">
              <a [routerLink]="'/category/' + subcategory.value ">
                {{ subcategory.text || subcategory.name }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-divider></p-divider>

  </div>
</ng-container>
<ng-template #loading>
  <div class="sidebar" style="border-bottom: 1px solid #dde1e6">
    <div class="sidebar_header" style="margin-bottom: 24px">
      <div class="fw-bold ghost md"></div>
      <small class="ghost lg"></small>
    </div>
    <div class="sidebar_content">
      <div class="category_list">
        <div class="category_item">
          <div class="category_name ghost lg"></div>
          <div class="category_name ghost lg"></div>
          <div class="category_name ghost lg"></div>
          <div class="category_name ghost lg"></div>
          <div class="category_name ghost lg"></div>
          <div class="category_name ghost lg"></div>
          <div class="category_name ghost lg"></div>
          <div class="category_name ghost lg"></div>
          <div class="category_name ghost lg"></div>
          <div class="category_name ghost lg"></div>
          <div class="category_name ghost lg"></div>
          <div class="category_name ghost lg"></div>

        </div>
      </div>
    </div>
  </div>
</ng-template>
