.category_item a:hover {
  color: rgb(69, 139, 243);
  cursor: pointer;
}

.category_item {
  margin-bottom: 12px;
}

.category_header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.i:hover {
  color: rgb(69, 139, 243);
}

.subcategory_list {
  padding-left: 16px;
  margin-top: 4px;
}

.subcategory_item {
  padding: 4px 0;
}


@media screen and (max-width: 767px) {
  .category_list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .category_item {
    background-color: #f1efef;
    padding: 8px;
    border-radius: 10px;
  }

  .category_header span {
    display: none;
  }
}






