<my-tabs>
  <my-tab
    [tabTitle]="'Thống kê'"
    [icon]="'pi pi-chart-bar'"
  >
    <div style="margin-bottom: 40px" class="row row-cols-1 row-cols-md-4 g-4">
      <!-- Người dùng -->
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex flex-column ">
              <div class="d-flex align-items-center">
                <i class="pi pi-users  font-icon text-blue " ></i>
                <div class="">
                  <h3 class="card-title mb-0 fw-bold  text-blue">Người dùng</h3> <!-- Chữ to hơn -->
                  <p  class="card-text fs-5 fw-bold text-blue"> {{totalUser}}</p> <!-- Tăng kích thước chữ -->
                </div>

              </div>
            </div>
          </div>
          <img src="./assets/img/users.svg" alt="">
        </div>
      </div>


      <!-- Tổng sản phẩm -->
      <div class="col">
        <div class="card  h-100">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <i class="pi pi-map text-6xl text-orange font-icon"></i> <!-- Icon -->
              <div>
                <h3 class="card-title fw-bold mb-0 text-orange">Tổng sản phẩm</h3> <!-- Chữ to hơn -->
                <p class="card-text fw-bold text-orange fs-5">{{totalProduct}}</p> <!-- Tăng kích thước chữ -->
              </div>
            </div>
          </div>
          <img src="./assets/img/locations.svg" alt="">
        </div>
      </div>

      <!-- Đơn hàng -->
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <i class="pi pi-shopping-cart font-icon text-green "></i> <!-- Icon -->
              <div>
                <h3 class="card-title mb-0 fw-bold text-green">Đơn hàng</h3> <!-- Chữ to hơn -->
                <p class="card-text fs-5 fw-bold text-green"> {{ totalOrder }}</p> <!-- Tăng kích thước chữ -->
              </div>
            </div>
          </div>
          <img src="./assets/img/rate.svg" alt="">
        </div>
      </div>

      <!-- Doanh thu -->
      <div class="col">
        <div class="card  h-100">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <i class="pi pi-money-bill font-icon text-purple"></i> <!-- Icon -->
              <div>
                <h3 class="card-title fw-bold mb-0 text-purple">Doanh thu</h3> <!-- Chữ to hơn -->
                <p class="card-text text-purple fw-bold fs-5">{{totalMoney | number}} VND</p> <!-- Tăng kích thước chữ -->
              </div>
            </div>
          </div>
          <img src="./assets/img/interactions.svg" alt="">
        </div>
      </div>
    </div>
    <p-card header="Biểu đồ ">
      <p-chart type="line" [data]="data" [options]="options"></p-chart>
    </p-card>
  </my-tab>
</my-tabs>



