<app-top-bar></app-top-bar>
<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<div class="page-content">
  <router-outlet></router-outlet>
  <div *ngIf="isLogin" class="calculator">
    <a routerLink="./shopping/voucher">
      <i class="fa-solid fa-book"></i>
      <span  class="calculator_link">Kho voucher </span>
    </a>
  </div>
  <app-navbar-mobile-bottom ></app-navbar-mobile-bottom>
</div>
<app-footer></app-footer>

<!--<df-messenger-->
<!--  intent="WELCOME"-->
<!--  chat-title="Chatbot AI"-->
<!--  agent-id="801ab48d-07a6-4360-8a2f-a6cf8ce96dff"-->
<!--  language-code="vi"-->
<!--&gt;</df-messenger>-->
