/* Tùy chỉnh hộp thoại chat */
df-messenger {
  //--df-messenger-bot-message-color: #4CAF50; /* màu chữ của bot */
  //--df-messenger-button-titlebar-color: #4CAF50; /* màu thanh tiêu đề */
  //--df-messenger-send-icon-color: #FFFFFF; /* màu icon gửi */
  //--df-messenger-user-message-color: #333333; /* màu chữ của người dùng */

}

button#widgetIcon {
  bottom: 100px !important;
}

.page-content {
  position: relative;
}

.calculator {
  position: fixed;
  z-index: 10;
  bottom: 20%;
  right: 0;
  background-color: #923b92;
  border-radius: 40px;
  padding: 8px;
  transition: all 0.3s ease-in-out;
  transform: translateX(70%);
}



.calculator a {
  display: flex;
}

.calculator_link {
  margin-left: 10px;
  color: #fff;
}

.calculator {
  padding: 10px;
}

.calculator i {
  font-size: 20px;
  color: #fff;
}

.calculator:hover {
  transform: translateX(0);
}

.calculator:hover .calculator_link {
  cursor: pointer;
}

span {
  font-weight: 500;
}
