<div class="container" style="padding: 25px 12px">
  <div *ngIf="product$; else load">
    <div class="d-flex content row ">
      <div class="image_product col-md-4">
        <div class="">
          <div class="image_product">
            <div class="">
              <p-galleria
                [value]="product$?.listThumbnail"
                [showItemNavigators]="true"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [numVisible]="3">
                <ng-template pTemplate="item" let-item>
                  <img [src]="item" style="width: 100%; display: block;" [alt]="product$?.name"/>
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                  <div class="grid grid-gutter p-datatable-flex-scrollable">
                    <img [src]="item" style="display: block; max-width: 80px; max-height: 60px" [alt]="product$?.name"/>
                  </div>
                </ng-template>
              </p-galleria>
            </div>
          </div>

        </div>

      </div>
      <div class="content_product col-md-8">
        <div>
          <div class="product_title">
            <h3>
              {{ product$?.name }}
            </h3>
          </div>
          <div class="product_price d-flex  justify-content-between p-3 mt-3"
               style="padding: 15px 20px;;background-color: #fafafa">
            <div class="d-flex align-items-center">
              <div class="price" style="color: red; font-size: 20px">{{ product$?.price | number }} đ</div>
            </div>
            <div class="d-flex align-items-center">
              <div class="">
                <p-rating [(ngModel)]="averageRating" [readonly]="true" [cancel]="false" ></p-rating>
              </div>
              <div class="mx-2">
                <p class="fw-bold mb-0">
                  {{this.countRating }} lượt đánh giá
                </p>
              </div>

            </div>

          </div>
          <div class="product_detail">
            <div class="flex flex-column">
              <!--            <div class="product_policy d-flex align-items-center">-->
              <!--              <span>Chính sách hoàn trả</span>-->
              <!--              <i class="fa-brands fa-first-order" style="color: #74C0FC; margin-right: 5px"></i>-->
              <!--              <div style="margin-right: 5px">Trả hàng trong 15 ngày</div>-->
              <!--              <div>Đổi ý miễn phí</div>-->
              <!--              <i class="fa-regular fa-circle-question" style="color: #74C0FC;"></i>-->
              <!--            </div>-->
              <!--            <div class="product_ship d-flex">-->
              <!--                <span class="ship-title">-->
              <!--                  Vận chuyển-->
              <!--                </span>-->
              <!--              <div class="ship-detail">-->
              <!--                <i class="fa-solid fa-truck" style="color: #74C0FC;"></i>-->
              <!--                <ng-container *ngIf="address != null;else noAddress">-->
              <!--                  Vận chuyển tới  {{ address }}-->
              <!--                </ng-container>-->
              <!--                <ng-template #noAddress>-->
              <!--                  Vận chuyển tới địa chỉ của bạn (Ban chua them dia chi)-->
              <!--                </ng-template>-->
              <!--                <div class="add-address">-->
              <!--                  Thêm địa chỉ mới <i class="fa-solid fa-plus" style="color: #74C0FC;"></i>-->
              <!--                </div>-->
              <!--              </div>-->
              <!--            </div>-->
              <!-- Updated section for product attributes -->
              <div class="product_attributes" *ngIf="product$?.attributes.length > 0">
                <div *ngFor="let attribute of product$?.attributes">
                  <div class="attribute_key d-flex flex-column " *ngIf="attribute.value != ''" style="margin-bottom: 40px;">
                    <div class="fw-bold">{{ attribute.key }}</div>
                    <div class="attribute_values">
                      <div
                        [class.active]="value.active"
                        *ngFor="let value of listAttribute"
                        class="btn btn-attributes"
                        (click)="select(value)"
                        style="margin: 5px; padding: 8px 16px ; height: 3rem; width: 100px">
                        {{ value.name }}
                        <div class="icon" >
                          <i class="fa-solid fa-check"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="product_quantity flex-column d-flex">
                <div class="fw-bold mb-2">Số lượng</div>
                <div class="quantity-control d-flex flex-wrap gap-3">
                  <button (click)="down()">-</button>
                  <input
                    style="border: 1px solid #ccc"
                    class="form-control"
                    type="number"
                    width="100px"
                    [value]=quantity
                    min="1"
                    (keydown)="preventNegative($event)"
                    (input)="onQuantityChange($event)"
                  >
                  <button (click)="up()">+</button>
                  <div class="">

                  </div>
                  <span class="">{{product$.totalProduct}} sản phẩm có sẵn </span>
                  <p-button [loading]="loading" [text]="false" label="" (click)="addToCart()" [raised]="true">
                    <i class="fa-solid fa-cart-plus" style="margin-right: 12px"></i>
                    Thêm vào giỏ hàng
                  </p-button>
                  <p-button label="Mua ngay" (click)="buyProduct()" [raised]="true" severity="secondary"></p-button>
                </div>
              </div>
              <div class="product_buy d-flex flex-wrap gap-3" >
                <!--              <p-button [loading]="loading" [text]="false" label="" (click)="addToCart()" [raised]="true">-->
                <!--                <i class="fa-solid fa-cart-plus" style="margin-right: 12px"></i>-->
                <!--                Thêm vào giỏ hàng-->
                <!--              </p-button>-->
                <!--              <p-button label="Mua ngay" (click)="buyProduct()" [raised]="true" severity="secondary"></p-button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-tabView>
      <p-tabPanel  >
        <ng-template pTemplate="header">
          <i class="pi pi-barcode" style="margin-right: 8px;"></i>
          <div style="opacity: 0.8">Chi tiết</div>
        </ng-template>
        <h2 class="mb-3">Chi tiết sản phẩm</h2>
        <ng-container *ngIf="product$?.description; else noDes">
          <div class="col-12 mb-3">
            <p-card  >
              {{product$.description}}
            </p-card>
          </div>
        </ng-container>
        <ng-template #noDes>
          Chi tiết sản phẩm đang được cập nhật
        </ng-template>
      </p-tabPanel>
      <p-tabPanel >
        <ng-template pTemplate="header">
          <i class="pi pi-comments"  style="margin-right: 8px;"></i>
          <div style="opacity: 0.8">Đánh giá</div>
        </ng-template>
        <h2 class="mb-3">Đánh giá sản phẩm </h2>
        <div class="mt-5">
          <ng-container  *ngIf="listComment.length > 0 ; else noComment">
            <div class="d-flex  mb-3" style=" border-bottom: 1px solid #ccc;"  *ngFor="let data of listComment">
              <div *ngIf="data.avtUser; else noAvt" class="avt" style="margin-right: 0.825rem; text-align: center;">
                <img [src]="data?.avtUser" alt="avt" width="50" height="50" style="border-radius: 50%; object-fit: cover; overflow: hidden">
              </div>
              <ng-template #noAvt>
                <div class="" style="margin-right: 0.825rem; text-align: center;">
                  <img src="assets/user.jpg" alt="avt" width="50" height="50" style="border-radius: 50%; object-fit: contain;">

                </div>
              </ng-template>
              <div class="rating-content">
                <div class="fw-bold mb-1">{{data?.userName }} - {{data?.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
                <p-rating [(ngModel)]="data.rating" [readonly]="true" [cancel]="false" />
                <p class="mt-1">{{data?.content}} </p>
                <div class="my-3 d-flex">
                  <div style="margin-right: 8px;" class="" *ngFor="let img of data.listThumbnail">
                    <p-image [src]="img" alt="anh danh gia" width="70" height="80" [preview]="true"></p-image>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noComment>
            Chưa có bình luận nào từ khách hàng
          </ng-template>

        </div>

      </p-tabPanel>

    </p-tabView>
  </div>
  <ng-template #load>
    <div class="d-flex content row  " style="margin-bottom: 108px;">
      <div class="image_product col-md-4">
        <div class="ghost " style="height: 450px; width: 435px"></div>
      </div>
      <div class="content_product col-md-8">
        <div class="flex-auto flex-column" style="padding: 1.25rem 2.1875rem 0 1.25rem">
          <div class="product_title ghost lg">

          </div>
          <div class="product_price d-flex align-items-center justify-content-between p-3 mt-3"
               style="padding: 15px 20px;;background-color: #fafafa">
            <div class="d-flex align-items-center">
              <div class="ghost lg"></div>
            </div>
            <div class="d-flex align-items-center">
              <div class="ghost lg"></div>
            </div>

          </div>
          <div class="product_detail">
            <div class="flex flex-column">
              <div class="product_attributes">
                <div>
                  <div class="attribute_key d-flex flex-column "  style="margin-bottom: 40px;">
                    <div class="ghost sm"></div>
                    <div class="attribute_values">
                      <!-- Displaying values as buttons -->
                      <div
                        class="btn ghost "
                        style="margin: 5px; padding: 8px 16px ; height: 3rem; width: 100px">

                      </div>
                      <div
                        class="btn ghost "
                        style="margin: 5px; padding: 8px 16px ; height: 3rem; width: 100px">

                      </div>
                      <div
                        class="btn ghost "
                        style="margin: 5px; padding: 8px 16px ; height: 3rem; width: 100px">

                      </div>
                      <div
                        class="btn ghost "
                        style="margin: 5px; padding: 8px 16px ; height: 3rem; width: 100px">

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="product_quantity flex-column d-flex">
                <div class="ghost sm mb-2"></div>
                <div class="quantity-control d-flex flex-wrap gap-3">
                  <div class="ghost md">

                  </div>
                </div>
              </div>
              <div class="product_buy d-flex flex-wrap gap-3" >
                <!--              <p-button [loading]="loading" [text]="false" label="" (click)="addToCart()" [raised]="true">-->
                <!--                <i class="fa-solid fa-cart-plus" style="margin-right: 12px"></i>-->
                <!--                Thêm vào giỏ hàng-->
                <!--              </p-button>-->
                <!--              <p-button label="Mua ngay" (click)="buyProduct()" [raised]="true" severity="secondary"></p-button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<p-toast></p-toast>

<p-toast position="top-center" key="success"/>
<p-toast position="top-center" key="danger"/>

