.image_product {
  flex-shrink: 0;
  max-width: 435px;
  padding: 0;
  margin-bottom: 20px;
}

.content_product {
  flex: 1 0 auto;
  width: 0;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.btn-attributes {
  border: 1px solid #bbb9b9;
  position: relative;
  font-weight: 600;
}

.btn-attributes.active::before {
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  border-color: transparent #f5a100 transparent transparent;
  border-style: solid;
  border-width: 0 30px 20px 0;
  content: "";
  position: absolute;
  transition: all .3s;
  //border-top-right-radius: 8px;
}

.fa-check {
  position: absolute;
  color: #fff;
  font-size: 10px;
  right: 4px;
  top: 2px;
}



.btn-attributes:hover {
  border: 1px solid #F5A100;
}


input {
  width: 50px;
  text-align: right;
  font-size: 18px;
  border: none;
  padding: 0;
}

.product_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding-left: 1rem;
  margin: 0;
  max-height: 60px;
  max-width: 665px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.image_container {
  position: relative;
}

.image {
  display: block;
  object-fit: contain;
  object-position: center;
}

.product_detail {
  margin: 1.5625rem 0;
  padding: 0 12px;
}

span {
  color: #757575;
  margin-right: 10px;
  width: 140px;
}

.product_policy, .product_ship, {
  margin-bottom: 25px;
}

.product_ship {
  align-items: flex-start;
  max-width: 625px;
}

button {
  border: solid #ccc 1px;
}

::ng-deep .p-rating-icon {
  color: #f39c12;  /* Màu cho icon chưa được chọn */
}

::ng-deep .p-rating-icon.pi-star {
  color: #f1c40f;  /* Màu cho icon đã chọn (ngôi sao) */
}

::ng-deep .p-rating-icon.pi-star-o {
  color: #7f8c8d;  /* Màu cho icon chưa chọn (ngôi sao trống) */
}

textarea {
  width: 100%;
  height: 1200px;
}


@media screen and  (max-width: 767px) {
  //.content {
  //  flex-direction: column;
  //}
  //.product_price {
  //  flex-direction: column;
  //}
}






