<div class="wrap-content bg-white">
  <div class="container">
    <div class="page-content" style="padding: 25px  0">
      <div class="row">
        <div class="col-12 col-lg-2">
          <app-category [categories]="categories"></app-category>
        </div>
        <div class=" col-12 col-lg-10 ">
          <app-product
            [filter]="true"
            (sortChange)="onSortChange($event)"
            [categoryName]="'Kết quả tìm kiếm cho ' + pageInfo.keyword"
            [products]="products">
          </app-product>
          <div class="d-flex justify-content-end">
            <p-paginator
              (onPageChange)="onPageChange($event)"
              [first]="(pageInfo.currentPage - 1) * pageInfo.recordPerPage"
              [rows]="pageInfo.recordPerPage"
              [totalRecords]="totalRecord"
              [rowsPerPageOptions]="[4, 8, 12, 16]"
              [showFirstLastIcon]="true">
            </p-paginator>
            <p class="text-secondary mt-4 d-none-sm">Hiển thị {{ products?.length }} trong {{ totalRecord }} sản
              phẩm</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

