<div class="centered-container">
  <p-card>
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
      <div class="">
        <!-- Coupon Name và Quantity trên cùng một dòng -->
        <div class="p-field ">
          <label for="name">Tên mã giảm giá</label>
          <input id="name" type="text" pInputText formControlName="name" placeholder="Nhập tên mã giảm giá">
          <app-control-message
            [label]="'Tên mã giảm giá '"
            [control]="formData.controls['name']">
          ></app-control-message>
        </div>

        <div class="p-field ">
          <label for="quantity">Số lượng</label>
          <input id="quantity" type="number" pInputText formControlName="quantity" placeholder="Nhập số lượng">
          <app-control-message
            [label]="'Số lượng '"
            [control]="formData.controls['quantity']">
            ></app-control-message>
        </div>

        <!-- Discount Percent và Max Discount Amount trên cùng một dòng -->
        <div class="p-field ">
          <label for="discountPercent">Phần trăm giảm giá (%)</label>
          <input id="discountPercent" pInputText formControlName="discountPercent" placeholder="Nhập phần trăm giảm giá">
          <app-control-message
            [label]="'Phần trăm giảm giá '"
            [control]="formData.controls['discountPercent']">
            ></app-control-message>
        </div>

        <div class="p-field ">
          <label >Số tiền giảm giá tối đa</label>
          <p-inputNumber class="full-width" formControlName="maxDiscountAmount" placeholder="Nhập số tiền giảm giá tối đa"></p-inputNumber>
          <app-control-message
            [label]="'Số tiền giảm tối đa  '"
            [control]="formData.controls['maxDiscountAmount']">
            ></app-control-message>
        </div>

        <!-- Start Date và End Date trên cùng một dòng -->
        <div class="p-field  ">
          <p-calendar [style]="{width: '100%'}" [showTime]="true"  [showButtonBar]="true" [showIcon]="true" id="startDate" formControlName="startDate" dateFormat="dd/mm/yy" placeholder="Chọn ngày bắt đầu"></p-calendar>
          <app-control-message
            [label]="'Ngày bắt đầu  '"
            [control]="formData.controls['startDate']">
            ></app-control-message>
        </div>

        <div class="p-field ">
          <p-calendar [style]="{width: '100%'}" [showTime]="true" [showButtonBar]="true" [showIcon]="true" id="endDate" formControlName="endDate" dateFormat="dd/mm/yy" placeholder="Chọn ngày kết thúc"></p-calendar>
          <app-control-message
            [label]="'Ngày kết thúc  '"
            [control]="formData.controls['endDate']">
            ></app-control-message>
        </div>
      </div>
      <div *ngIf="formData.hasError('dateRangeInvalid')">
        <small class="p-error">Ngày kết thúc không thể trước ngày bắt đầu</small>
      </div>

      <!-- Submit Button -->
      <div class=" mt-4">
        <button  class="btn btn-save">
          Thêm
        </button>
      </div>
    </form>
  </p-card>
</div>
