<ng-container *ngIf="products; else loading">
  <div class="suggest_product ">
    <div class="d-flex justify-content-between">
      <div class="category_name">
        <p class="fs-4 fw-bold">{{ categoryName }}</p>
      </div>
      <div *ngIf="filter" class="filter-price">
        <div class="btn-group">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="pi pi-sort"></i>
            Sắp xếp
          </button>
          <ul class="dropdown-menu custom-dropdown">
            <li (click)="sortAsc()">
              <a class="dropdown-item">
                <i class="pi pi-sort-alpha-up"></i>
                Sắp xếp theo giá thấp đến cao
             </a>
            </li>
            <li (click)="sortDesc()">
              <a class="dropdown-item">
                <i class="pi pi-sort-alpha-down"></i>
                Sắp xếp theo giá từ cao  đến thấp
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="list-product">
      <div *ngIf="products.length == 0">
        Không tìm thấy sản phẩm nào
      </div>
      <div class="product" *ngFor="let product of products">
        <div class="product_item">
          <a [routerLink]="'/product/' + product.id" class="product-detail">
            <img src="{{ product.thumbnail }}" alt="anh san pham">
          </a>
          <div class="product_content py-2">
            <div class="product_title">
              <a [routerLink]="'/product/' + product.id">{{ product.name }}</a>
            </div>
            <div class="product_price my-2 d-flex justify-content-between align-item-center" style="color: indianred">
              <span class="pt-2">{{ product.price | number }} đ</span>
              <button
                (click)="toggleHeart(product)"
                style="border-radius: 50%; background-color: #fafafa; border: none">
                <i
                  [ngClass]="product.favourite ? 'pi pi-heart-fill' : 'pi pi-heart'"
                  style="padding: 12px 8px; color: indianred">
                </i>
              </button>
            </div>
            <!--            <p-button  [text]="true" severity="secondary">-->
            <!--              <i class="fa-solid fa-cart-plus" style="margin-right: 12px"></i>-->
            <!--              Thêm vào giỏ hàng-->
            <!--            </p-button>-->
            <!--            <p-button [outlined]="true" styleClass="circular-button" [rounded]="true" icon="pi pi-heart" [text]="true" severity="danger"></p-button>-->


          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  paginator-->

</ng-container>

<!--Loading-->
<ng-template #loading>
  <div class="suggest_product">
    <div class="category_name ">
      <p class="fs-4 fw-bold">{{ categoryName }}</p>
    </div>
    <div class="list-product row">
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4 product">
        <div class="product_item">
          <a href="" class="product-detail  avatar">
          </a>
          <div class="product_content py-2">
            <div class="product_title ">
              <div class="ghost lg"></div>
              <div class="ghost md"></div>
            </div>
            <div class="product_price my-2 ghost xs" style="color: indianred">
            </div>
            <div class="product_quantity d-flex align-items-center justify-content-between">
              <!--            <p-rating style="font-size: 14px !important;" [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>-->
              <!--            <span>Đã bán {{ product.sold }}</span>-->
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</ng-template>
