
.list-product {
  --spacing: 15px;
  --columns: 4;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
}

.product {
  padding: 16px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc( calc(100% / var(--columns)) - var(--spacing));
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
}

@media screen and (max-width: 767px) {
  .list-product {
    --spacing: 15px;
    --columns: 1;
  }
}

.product img {
  width: 100%;
  height: auto;
  max-height: 400px; // Bạn có thể điều chỉnh chiều cao tối đa
  object-fit: cover;
  aspect-ratio: 1/1; // Tỷ lệ 1:1 để hình ảnh vuông
}

.product_title {
  min-height: 36px;
  margin-bottom: 4px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product_title a:hover {
  color: rgb(69, 139, 243);
  cursor: pointer;
}

.product:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.17);
}

.product_price button:hover {
  background-color: #fafafa;
}

.custom-dropdown {
  transform: translate3d(-120px, 30.9091px, 0px) !important;
}




