<div class="container" style="margin-bottom: 130px">
  <div class="mt-3 mb-5 row justify-content-center">
    <div class="col-lg-7">
      <p-panel header="Thay đổi mật khẩu">
        <div [formGroup]="form" class="form">
          <div class="mb-3">
            <label for="currentPassword" class="form-label">Mật khẩu hiện tại</label>
            <input type="password" formControlName="currentPassword" class="form-control" id="currentPassword">
            <app-control-message
              [label]="'Mật khẩu hiện tại'"
              [control]="form.controls['currentPassword']"
            ></app-control-message>
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">Mật khẩu mới</label>
            <input type="password" class="form-control" formControlName="newPassword" id="newPassword">
            <app-control-message
              [label]="'Mật khẩu'"
              [control]="form.controls['newPassword']"
            ></app-control-message>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Xác nhận mật khẩu</label>
            <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword">
            <app-control-message
              [label]="'Mật khẩu'"
              [control]="form.controls['confirmPassword']"
            ></app-control-message>
            <div *ngIf="form.hasError('valueNotMatch') && form.get('confirmPassword').touched" style="color: red">
              Mật khẩu mới và Xác nhận mật khẩu không khớp
            </div>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="mt-3">
          <div id="passwordHelpBlock" class="form-text">
            * Mật khẩu phải bao gồm chữ số (0-9), ký tự đặc biệt (@,!,#,...), ít nhất 1 chữ cái in hoa, và có từ 6 đến
            30 ký tự
          </div>
        </div>
        <div class="mt-3">
          <p-button (invalid)="form.invalid" (click)="changePassword()">
            <i class="pi pi-save"></i>
            Lưu
          </p-button>
        </div>
      </p-panel>
    </div>

  </div>
</div>
<p-toast position="top-center"></p-toast>
