<div class="row gy-4">
  <div class=>
    <button (click)="showModal()" class="btn btn-primary">
      <i class="pi pi-plus"></i>
      Thêm danh mục
    </button>
  </div>
  <p-dialog header="Thêm danh mục cha" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <label class="mb-2" >Tên </label>
    <input type="text" pInputText [(ngModel)]="categoryName" />
    <ng-template pTemplate="footer">
      <button  (click)="addCategory()"  class="btn btn-warning">
        <i class="pi pi-check"></i>
        Thêm
      </button>
    </ng-template>
  </p-dialog>
  <div class="col-3" *ngFor="let data of listDataParent">
    <p-card  [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img height="238px" *ngIf="data.thumbnail; else noImg" alt="Card" [src]="data.thumbnail" />
        <ng-template #noImg>
          <img height="238"  src="assets/img/category.png" alt="Danh muc">
        </ng-template>
      </ng-template>

      <h3 class="fw-bold mb-0">
        {{data.name}}
      </h3>
      <span>{{data.numberOfProduct}} sản phẩm</span>

      <ng-template pTemplate="footer">
        <button (click)="detailCate.emit(data)" class="btn btn-save  mr">
          <i class="pi pi-send"></i>
          Chi tiết
        </button>

        <button (click)="openUpdate(data)" class="btn btn-update mr">
          <i class="pi pi-user-edit"></i>
          Cập nhật
        </button>

        <button (click)="deleteCategory(data)" class="btn btn-delete ">
          <i class="pi pi-trash"></i>
        </button>

      </ng-template>
    </p-card>
  </div>
</div>

<p-confirmDialog #cd [style]="{width: '50vw'}">
  <ng-template pTemplate="footer">
    <button type="button" class="btn btn-secondary" (click)="cd.reject()" style="margin-right: 12px">Không</button>
    <button type="button" class="btn btn-danger" (click)="cd.accept()" >Có</button>
  </ng-template>
</p-confirmDialog>

<p-dialog header="Cập nhật danh mục" [(visible)]="showUpdate" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <div class="name mb-3">
    <label class="mb-2">
      Tên
    </label>
    <input type="text" pInputText [(ngModel)]="categoryUpdate.name">
  </div>

  <p-image width="100%" height="400" [src]="categoryUpdate.thumbnail" alt="anh danh muc"></p-image>

  <ng-template pTemplate="footer">
    <button  (click)="updateCategory()" class="btn btn-primary">
      <i class="pi pi-check"></i>
      Cập nhật
    </button>
  </ng-template>
</p-dialog>
