.example-container {
  height: 100vh;
  width: auto;
  display: flex;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.list-menu a i {
  max-width: 20px;             /* Cố định chiều rộng cho biểu tượng */
  text-align: center;      /* Canh giữa biểu tượng */
  margin-right: 8px;       /* Khoảng cách giữa biểu tượng và tiêu đề */
}






.example-toolbar {
  background-color: #212428;
}
.example-sidenav {
  user-select: none;
  background-color: #293042;
  //background-color: #212428;
  transition: all 0.3s linear;
}

.example-sidenav.expanded {

  width: 200px;
}

.example-sidenav {
  overflow-y: auto; /* Chỉ hiển thị thanh cuộn dọc khi cần */
  overflow-x: hidden; /* Ẩn hoàn toàn thanh cuộn ngang */
  width: 200px;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important; /* Đảm bảo thanh cuộn ngang của vùng bên trong cũng bị ẩn */
}


.example-sidenav.collapsed {
  width: 60px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.body-content {
  flex-grow: 1;
}

.full-width {
  width: 100%;
  transition: all 0.3s ease;
}

.list-menu span, i {
  color: #c4c0c0;
  font-size: 14px;
}

.logo {
  width: 148px;
  height: 50px;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 16px;
  height: 55px;
}

i {
  color: #ccc;
}

i:hover {
  cursor: pointer;
  color: rgb(38, 158, 228);
}

.list-menu a:hover i {
  color: #f0be37;
}

.list-menu a:hover span {
  color: #fff;
}

.list-menu a {
  text-decoration: none; /* Remove underline */
  color: #e4e1e1; /* Default color */
  display: flex; /* Align icon and text */
  align-items: center; /* Center vertically */
}


.text-white {
  color: white; /* Đổi màu chữ thành trắng */
}

.text-highlight {
  color: #f0be37; /* Đổi màu icon thành f0be37 */
}

mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
}















