<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    [class.expanded]="isExpanded || isShowing"
    [class.collapsed]="!isExpanded && !isShowing"
    class="example-sidenav"
    mode="side"
    opened="true"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
  >
    <mat-nav-list>
      <div class="brand mb-4">
        <img
          class="logo"
          *ngIf="isExpanded || isShowing"
          src="./assets/img/logo.png"
          alt="logo"
        />
        <span (click)="isExpanded = !isExpanded">
          <ng-container *ngIf="isShowing || isExpanded; else noExpand">
            <i class="fa-solid fa-angles-left"></i>
          </ng-container>
          <ng-template #noExpand>
            <i class="fa-solid fa-angles-right"></i>
          </ng-template>
        </span>
      </div>
      <div class="list-menu">
        <a
          mat-list-item
          routerLink="dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          #rla="routerLinkActive"
          [ngClass]="{'active': rla.isActive}"
        >
          <i class="fa-solid fa-chart-line" [ngClass]="{'text-highlight': rla.isActive}" ></i>
          <span class="menu-title" [ngClass]="{'text-white': rla.isActive}" *ngIf="isExpanded || isShowing"> Thống kê </span>
        </a>

        <a
          mat-list-item
          routerLink="product"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          #rla1="routerLinkActive"
          [ngClass]="{'active': rla1.isActive}"
        >
          <i class="fa-regular fa-credit-card" [ngClass]="{'text-highlight': rla1.isActive}" ></i>
          <span style="margin-left: 2px;" *ngIf="isExpanded || isShowing" [ngClass]="{'text-white': rla1.isActive}">Sản phẩm </span>
        </a>

        <a
          mat-list-item
          routerLink="category"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          #rla2="routerLinkActive"
          [ngClass]="{'active': rla2.isActive}"
        >
          <i class="fa-regular fa-money-bill-1" [ngClass]="{'text-highlight': rla2.isActive}" ></i>
          <span *ngIf="isExpanded || isShowing" [ngClass]="{'text-white': rla2.isActive}"> Danh mục </span>
        </a>

        <a
          mat-list-item
          routerLink="order"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          #rla3="routerLinkActive"
          [ngClass]="{'active': rla3.isActive}"
        >
          <i class="fa-regular fa-rectangle-list" [ngClass]="{'text-highlight': rla3.isActive}" ></i>
          <span *ngIf="isExpanded || isShowing" [ngClass]="{'text-white': rla3.isActive}"> Đơn hàng </span>
        </a>

        <a
          mat-list-item
          routerLink="coupon"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          #rla5="routerLinkActive"
          [ngClass]="{'active': rla5.isActive}"
        >
          <i class="fa-solid fa-ticket" [ngClass]="{'text-highlight': rla5.isActive}" ></i>
          <span *ngIf="isExpanded || isShowing" [ngClass]="{'text-white': rla5.isActive}"> Mã giảm giá </span>
        </a>


        <a
          mat-list-item
          routerLink="user"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          #rla4="routerLinkActive"
          [ngClass]="{'active': rla4.isActive}"
        >
          <i class="fa-regular fa-user" [ngClass]="{'text-highlight': rla4.isActive}" ></i>
          <span style="margin-left: 6px" *ngIf="isExpanded || isShowing" [ngClass]="{'text-white': rla4.isActive}">Người dùng </span>
        </a>



      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar style="z-index: 999" class="d-flex bg-white  justify-content-end">

        <div class="user-dropdown">
          <span class="text-dark dropdown-toggle me-1" data-bs-toggle="dropdown" data-bs-reference="parent"
                style="width: 300px">
             <span>Hi, Admin</span>
            <i class="fa-solid fa-user" style="color: #ffffff;"></i>
          </span>
          <ul class="dropdown-menu dropdown-menu-lg-end " style="width: 200px; z-index: 999">
            <li>
              <a routerLink="" class="dropdown-item">
                <i class="fa-solid fa-lock"></i>
                <span>
                 Thay đổi mật khẩu
                </span>
              </a>
            </li>
            <li>
              <a (click)="logOut()" class="dropdown-item">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span>Đăng xuất</span>
              </a>
            </li>
          </ul>
        </div>
      </mat-toolbar>
    <div class="app">
      <div class="body-content">
        <router-outlet ></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
