  <form [formGroup]="formUpdate">
    <label class="mb-2">
      Tên
    </label>
    <input type="text" pInputText formControlName="name">
    <app-control-message
      [label]="'Tên sản phẩm '"
      [control]="formUpdate.controls['name']">
    </app-control-message>

    <img [src]="this.category?.thumbnail" alt="anh danh muc">
  </form>
