<div class="mb-3">
  <button (click)="showModal()"  class="btn btn-primary">
    <i class="pi pi-plus"></i>
    Thêm danh mục con
  </button>
</div>
<p-dialog header="Thêm danh mục con" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <label class="mb-2" >Tên </label>
  <input type="text" pInputText [(ngModel)]="categoryName" />
  <ng-template pTemplate="footer">
    <button  (click)="addCategory()" class="btn btn-warning">
      <i class="pi pi-check"></i>
      Thêm
    </button>
  </ng-template>
</p-dialog>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="text-center">STT</th>
      <th>Tên danh mục</th>
      <th class="text-center">Số lượng sản phẩm</th>
      <th class="text-center">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf=" listCate?.length > 0; else noCate">
      <tr *ngFor="let cate of listCate;  let i = index">
        <td class="text-center">{{i + 1}}</td>
        <td>{{cate.name}}</td>
        <td class="text-center">{{cate.numberOfProduct}}</td>
        <td class="text-center">
          <div class="">
            <button (click)="openUpdate(cate)" class="btn-update mx-2" >
              Cập nhật
            </button>
            <button (click)="deleteCategory(cate)" class="btn-delete" >Xóa</button>
          </div>

        </td>
      </tr>

    </ng-container>
    <ng-template #noCate>
      Chưa có danh mục con
    </ng-template>
    </tbody>
  </table>

</div>

<p-confirmDialog #cd [style]="{width: '50vw'}">
  <ng-template pTemplate="footer">
    <button type="button" class="btn btn-secondary" (click)="cd.reject()" style="margin-right: 12px">Không</button>
    <button type="button" class="btn btn-danger" (click)="cd.accept()" >Có</button>
  </ng-template>
</p-confirmDialog>

<p-dialog header="Cập nhật danh mục" [(visible)]="showUpdate" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <div class="name mb-3">
    <label class="mb-2">
      Tên
    </label>
    <input type="text" pInputText [(ngModel)]="categoryUpdate.name">
  </div>


  <ng-template pTemplate="footer">
    <button  (click)="updateCategory()" class="btn btn-primary">
      <i class="pi pi-check"></i>
      Cập nhật
    </button>
  </ng-template>
</p-dialog>
