.attr-label {
  margin-bottom: 0.5rem;  // Khoảng cách dưới label
  display: block;          // Đảm bảo label chiếm toàn bộ chiều rộng
}

.attr-multiselect {
  width: 100%;            // Đảm bảo multiSelect chiếm toàn bộ chiều rộng
}

.p-fileupload-content {
  border: 1px dashed #ccc;
  padding: 20px;
  background-color: #f9f9f9;
}
