
<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="row g-3">
  <div class="col-md-8">
    <div class="row">
      <strong class="mb-2">Thông tin sản phẩm </strong>
      <div class="col-12 mb-3">
        <input  pInputText type="text" placeholder="Tên sản phẩm" formControlName="name" />
        <app-control-message
          [label]="'Tên sản phẩm '"
          [control]="productForm.controls['name']">
        </app-control-message>
      </div>
      <div class="col-12 mb-3">
        <textarea rows="5" placeholder="Mô tả sản phẩm" formControlName="description" pInputTextarea [autoResize]="true"></textarea>
      </div>
    </div>
    <strong class="py-2">Hình ảnh sản phẩm</strong>
    <div class="col-12 mb-3">
      <p-fileUpload
        name="listThumbnail"
        [customUpload]="true"
        [multiple]="true"
        (uploadHandler)="onUpload($event)"
        [maxFileSize]="10000000"
        [auto]="true"
        accept="image/*"
        chooseLabel="Chọn ảnh"
        uploadLabel="Tải lên"
        cancelLabel="Hủy">
        <ng-template pTemplate="toolbar">
          <div class="py-3">Tối đa 5 ảnh</div>
        </ng-template>

      </p-fileUpload>
    </div>



  </div>
  <div class="col-md-4">
    <div class="row">
      <strong class="mb-2">Giá </strong>
      <div class="col-12 mb-3">
        <p-inputNumber class="full-width" formControlName="price" placeholder="Nhập giá"></p-inputNumber>
        <app-control-message
          [label]="'Giá'"
          [control]="productForm.controls['price']">
        </app-control-message>

      </div>
      <strong class="mb-2">Số lượng sản phẩm </strong>
      <div class="col-12 mb-3">
        <p-inputNumber class="full-width" formControlName="totalProduct" placeholder="Nhập số lượng sản phẩm"></p-inputNumber>
        <app-control-message
          [label]="'Số lượng sản phẩm'"
          [control]="productForm.controls['totalProduct']">
        </app-control-message>
      </div>
      <strong class="mb-2">Danh mục  </strong>
      <div class="col-sm-12 mb-3">
        <p-dropdown
          [style]="{'width': '100%'}"
          [options]="categories"
          optionLabel="text"
          optionValue="value"
          formControlName="categoryId"
          placeholder="Danh mục cha">
        </p-dropdown>
        <app-control-message
          [label]="'Danh mục cha'"
          [control]="productForm.controls['categoryId']">
        </app-control-message>
      </div>
      <div class="col-sm-12 col mb-3">
          <p-dropdown
            [style]="{'width': '100%'}"
            [options]="childCategories"
            optionLabel="text"
            optionValue="value"
            formControlName="subCategoryId"
            placeholder="Danh mục con">
          </p-dropdown>
          <app-control-message
            [label]="'Danh mục con'"
            [control]="productForm.controls['subCategoryId']">
          </app-control-message>
      </div>
      <strong class="mb-2">Thuộc tính sản phẩm</strong>
      <div class="col-12 mb-3">
        <div class="col-12 mb-3">
          <ng-container *ngIf="attr; else noAttr">
            <div *ngFor="let a of attr">
              <label class="attr-label">{{ a.key }}</label>
              <p-multiSelect
                [style]="{'width': '100%'}"
                [options]="a.value"
                [showClear]="true"
                display="chip"
                formControlName="attributes"
                optionLabel="label"
                optionValue="value"
                placeholder="Chọn thuộc tính"
                class="attr-multiselect">
              </p-multiSelect>
            </div>
          </ng-container>
          <ng-template #noAttr>
            <span>Hiện thị sau khi chọn danh mục con</span>
          </ng-template>

        </div>
      </div>

    </div>

  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Thêm  </button>
  </div>
</form>

<p-toast></p-toast>


