.background_login {
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.form-login-modal {
  max-width: 90%;
  width: 800px;
  height: auto;
  padding: 36px;
  border-radius: 10px;
  margin: 0 auto;
}

.form-login-modal img {
  height: 66px;
  width: auto;
}

.form-control {
  padding: .78rem 1.14rem;
  border-color: #e4e9f0;
}

.form-control.ng-touched.ng-invalid {
  border: 1px solid red !important;
}

.form-control:focus {
  border-color: #3699ff;
}
