<div class="background_login" style="background-image: url('/assets/anh-nen2.jpg')">
  <div class="form-login-modal bg-white">
    <div class="row mb-5">
      <div class="col-md-5 text-center col-12">
        <img class="text-center" src="./assets/logo.png" alt="logo">
        <h5>Chào mừng bạn đến với đăng ký</h5>
      </div>
      <div class="col-md-7 col-12">
        <form class="form-sign-in" (ngSubmit)="register()" [formGroup]="registerForm">
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Số điện thoại">
            <app-control-message
              [control]="registerForm.controls['phoneNumber']"
              [label]="'Số điện thoại'"
            ></app-control-message>
            <!--            <div style="color: red" *ngIf="registerForm.get('phoneNumber').errors?.['phoneNumberDuplicated']">-->
            <!--              Số điện thoại đã được đăng ký-->
            <!--            </div>-->
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="fullName" placeholder="Họ và tên">
            <app-control-message
              [control]="registerForm.controls['fullName']"
              [label]="'Họ và tên'"
            ></app-control-message>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="address" placeholder="Địa chỉ của bạn">
            <app-control-message
              [control]="registerForm.controls['address']"
              [label]="'Địa chỉ'"
            ></app-control-message>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="email" placeholder="Email">
            <app-control-message
              [control]="registerForm.controls['email']"
              [label]="'Email'"
            ></app-control-message>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <input [type]="hidePassword ? 'password' : 'text'" class="form-control" formControlName="password"
                     placeholder="Mật khẩu">
              <span (click)="togglePasswordVisibility()" class="input-group-text">
                <i [ngClass]="hidePassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
              </span>
            </div>
            <app-control-message
              [control]="registerForm.controls['password']"
              [label]="'Mật khẩu'"
            ></app-control-message>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" formControlName="retypePassword"
                   placeholder="Xác nhận mật khẩu">
            <app-control-message
              [control]="registerForm.controls['retypePassword']"
              [label]="'Xác nhận mật khẩu'"
            ></app-control-message>
            <div *ngIf="registerForm.hasError('valueNotMatch') && registerForm.get('retypePassword').touched"
                 style="color: red">
              Mật khẩu và Xác nhận mật khẩu không khớp
            </div>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-link me-md-2" routerLink="/login" type="button">Đăng nhập</button>
            <button class="btn btn-primary" type="submit">Đăng ký</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <p-toast></p-toast>
  </div>
</div>

